@charset "utf-8";
@import url('reset.css');
@import url('mblCm_style.css');
@import url('mblCm_control.css');
@import url('mblCm_pop.css');
body,h1, h2, h3, h4, h5, h6,th,td,li,dt,dd,fieldset, nav a, nav button,select,section,article,aside,footer, header,input,button,figcaption,textarea {font-size:14px;letter-spacing: normal; line-height:19px; font-family:'Noto Sans KR',sans-serif, dotum, '돋움';color:#242020;}

section, article {position: relative; display: inline-block;}

a {color:#333; text-decoration:none;}
a:active, a:hover {text-decoration: none; color: #666;}
address,caption,cite,code,dfn,em,var {font-style:normal; font-weight:normal;}
ins {/*background-color:#ff9;color:#000;*/text-decoration:none;}
mark, strong {background-color:transparent; font-weight:bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted; cursor:help;}
hr {height:1px; border:0;margin:1em 0; padding:0;}


.inptBx[type="password"]{letter-spacing: 2px;}
input::placeholder,.inptBx::placeholder {color: #aaa;opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */}
input::-webkit-input-placeholder,.inptBx::-webkit-input-placeholder {color: #aaa;}
input:-ms-input-placeholder,.inptBx:-ms-input-placeholder {color: #aaa;}
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder,.inptBx:focus::-webkit-input-placeholder { color:transparent;}
input:focus:-moz-placeholder,textarea:focus:-moz-placeholder,.inptBx:focus:-moz-placeholder {color:transparent;}
input:focus:-ms-input-placeholder,textarea:focus:-ms-input-placeholder,.inptBx:focus:-ms-input-placeholder {color:transparent;}

.dfBx_x{display: inline-block;float: left;}
   .dfBx_x._inSbPgBx{height: calc(100% - 112px);box-sizing: border-box;}
      .dfBx_x._inSbPgBx._lftPd{padding: 0px 0px 0px 20px;}
      .dfBx_x._inSbPgBx._rghtPd{padding: 0px 20px;}
         .dfBx_x._inSbPgBx.w50p._lftPd{padding: 0px 10px 0px 20px;}
         .dfBx_x._inSbPgBx.w50p._rghtPd{padding: 0px 20px 0px 10px;}
      .dfBx_x._inSbPgBx > .inSrchFtBx{height: 100%;padding: 0;}
      ._inSbPgBx._rghtPd > .hHrfBx.nonAslt{padding: 10px;background-color: #f5f5f5;}
         ._inSbPgBx._rghtPd > .hHrfBx._top.nonAslt{margin: 0;border-radius: 8px 8px 0 0;}
         ._inSbPgBx._rghtPd > .hHrfBx._bttm.nonAslt{border-radius: 0 0 8px 8px;}

.dfBx{display: inline-block;float: left;width: 100%;}
.dfBx.flxBtwn{display: inline-flex;}
.flxBtwn{justify-content: space-between;}
.dfBx.flxBtwn.allcheck{
	/*margin: 0px 0px 0px 0px; */
    /* justify-content: inherit; */
    position: relative;
    /* align-self: self-start; */
    display: inline-block
}
.dsplyNon{display: none;}
.fltRght{float: right;}
.fltLft{float: left;}
/*넓이*/
.w100p{width: 100%;}
.w50p{width: 50%;}

.w45px{width: 45px;}
.w60px{width: 60px;}
.w78px{width: 78px;}
.w80px{width: 80px;}
.w85px{width: 85px;}
.w90px{width: 90px;}
.w95px{width: 95px;}
.w100px{width: 100px;}
.w110px{width: 110px;}
.w120px{width: 120px;}
.w125px{width: 125px;}
.w130px{width: 130px;}
.w135px{width: 135px;}
.w150px{width: 150px;}
.w155px{width: 155px;}
.w160px{width: 160px;}
.w170px{width: 170px;}
.w175px{width: 175px;}
.w185px{width: 185px;}
.w190px{width: 190px;}
.w200px{width: 200px;}
.w210px{width: 210px;}
.w215px{width: 215px;}
.w250px{width: 250px;}
.w270px{width: 270px;}
.w300px{width: 300px;}
.w328px{width: 328px;}
.w400px{width: 400px;}
.w500px{width: 500px;}
.w540px{width: 540px;}

.wCal140px{width: calc(100% - 140px);}
.wCal200px{width: calc(100% - 200px);}
.wCal300px{width: calc(100% - 300px);}
.wCal340px{width: calc(100% - 340px);}
.wCal350px{width: calc(100% - 350px);}
.wCal360px{width: calc(100% - 360px);}
.wCal385px{width: calc(100% - 385px);}
.wCal390px{width: calc(100% - 390px);}
.wCal550px{width: calc(100% - 550px);}
.wCal500px{width: calc(100% - 500px);}
.wCal680px{width: calc(100% - 680px);}

.minW100px{min-width: 100px;}
.minW150px{min-width: 150px;}
.minW300px{min-width: 300px;}

.maxW210px{min-width: 210px;}
.maxW540px{min-width: 540px;}
.maxW920px{min-width: 920px;}

/*높이*/
.h54px{height: 54px;}


.mLft15px{margin-left: 15px;}
.mLft20px{margin-left: 20px;}
.mTop5px{margin-top: 5px;}
.mTop10px{margin-top: 10px;}

/*글씨색*/
.clrBlck{color: #242020;}
.clrRed{color: #ba0000;}
.aftrDot::after{content: '\2022';font-size: 12px;}
.clrBg_u_r{color: #0a3a0c;background-color: #d9ebca;}
.clrBg_u_a{color: #3c320a;background-color: #f3ebcd;}
.clrBg_u_e{color: #4a0707;background-color: #f1cbcb;}
.clrBg_u_c{color: #2e0c40;background-color: #d1c4eb;}

.lnkLn{color: #4862e1;font-weight:bold; text-decoration: underline;}
/*글씨 두께*/
.fnt500{font-weight: 500;}
.fntBld{font-weight:bold;}

.tAlgnCntr{text-align:center; }
.tAlgnRght{text-align:right;}
.tAlgnLft{text-align:left;}

.fllGry{background-color: #ebebeb;}
.txtIcn{height: 17px;font-size: 9px;font-weight: bold;line-height: 17px;text-align: center;border-radius: 9px;}
/* 공통 아이콘 */
.icnBtn::before,.icn::before,.icn::after{content: '';font-size: 0;line-height: 0;background-repeat: no-repeat;}
.bfafNn{background-repeat: no-repeat;}
.bfafNn::before,.bfafNn::after{display: none !important;background-repeat: no-repeat;}
.icnChck_wht::before{background-image: url('/img/icnChck_wht.svg');}/*체크-흰색*/
.icnChck_gry::before{background-image: url('/img/icnChck_gry.svg');}/*체크-회색*/
.icnChck_blck::before{background-image: url('/img/icnChck_blck.svg');}/*체크-검은색*/
.icnArrwHd_gry_prv::before{background-image: url('/img/icnArrwHd_gry.svg');}/*화살표 머리-이전,왼쪽*/
.icnArrwHd_gry_nxt::before{ background-image: url('/img/icnArrwHd_gry.svg');transform: rotate(180deg);}/*화살표 머리-오른쪽*/
.icnArrwHd_blck_prv::before{background-image: url('/img/icnArrwHd_blck.svg');}/*화살표 머리-이전,왼쪽*/
.icnArrwHd_blck_nxt::before{background-image: url('/img/icnArrwHd_blck.svg');transform: rotate(180deg);}/*화살표 머리-오른쪽*/
.icnLogout::before{background-image: url('/img/icnLogout.svg');}/*로그아웃*/
.icnWidBx::before{background-image: url('/img/icnWidBx.svg');}/*박스 넓게*/
.icnNrrwBx::before{background-image: url('/img/icnNrrwBx.svg');}/*박스 좁게*/
.icnTopMenuOpn::before{background-image: url('/img/icnTopMenuOpn.svg');}
.icnClose_Blck::before,.icnClose_Blck{background-image: url('/img/icn_close_Blck.svg');}
.icnDown::before,.icnDown{background-image: url('/img/icn_down.svg');}

.nrrwBtn,.widBtn{background-repeat: no-repeat;background-size: 100% auto;background-position: center;}
.nrrwBtn.on{background-image: url('/img/icnMnlist.svg');}
.nrrwBtn.off{background-image: url('/img/icnMnlist_dsbl.svg');}
.widBtn.on{background-image: url('/img/icnMncard.svg');}
.widBtn.off{background-image: url('/img/icnMncard_dsbl.svg');}
