<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fursys.mobilecm.mapper.ErpSigongAsMapper">
 
 <select id="erp_selectAsItemReport" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPAsItemReport">
<![CDATA[
	SELECT  A.BMT_ITEM,   
	             A.COL_CD,   
	             B.BMT_NM AS BMT_NM,   
	             A.COM_RPFTYP,   
	             A.AST_ACTQTY,   
	             (SELECT CCD_NM FROM TT_COMCD WHERE CCD_CD = A.COM_SPYCOD ) AS COM_SPYCOD,   
	             A.BMT_SAMT,   
	            (CASE WHEN LEN(A.VND_CD) = 3 THEN
	            (SELECT WHS_NM FROM TW_WHSMAS with (nolock) WHERE WHS_CD = A.VND_CD) ELSE
	            (SELECT VND_NM FROM TT_VENDOR with (nolock) WHERE VND_CD = A.VND_CD) END) VND_CD,
	            (SELECT CCD_NM FROM TT_COMCD with (nolock) WHERE CDX_CD = 'A65'   AND CCD_CD=A.DEFECT_GUBUN) AS DEFECT_GUBUN ,
	            (SELECT CCD_NM FROM TT_COMCD with (nolock) WHERE CDX_CD = 'A66'   AND CCD_CD=A.DEFECT_TYP) AS DEFECT_TYP
	            ,D.MOB_USEYN
	            ,D.MOB_NOTUSEQTY
	            ,D.MOB_REMARK
	 FROM  TA_ASTITEM A with (nolock)
	              LEFT OUTER JOIN TA_PLANDTL D WITH (NOLOCK)
	              ON D.PLM_NO = #{orm_no}
	              AND D.BMT_ITEM = A.BMT_ITEM
	              AND D.COL_CD = A.COL_CD,
	              TT_BOMMST B with (nolock)
	WHERE A.RPT_NO     =  SUBSTRING(#{orm_no} /*orm_no*/ , 1, 13)
	     AND A.RPT_SEQ    = '01'
	     AND A.BMT_ITEM   = B.BMT_ITEM 
	     AND A.COL_CD     = B.COL_CD   

]]>
</select> 
  
<select id="erp_selectAsReport" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPAsReport">
<![CDATA[

	SELECT   A.RPT_NO+A.RPT_SEQ AS RPT_NO,     
	         B.VND_NM AS VND_NM,
	         B.VND_TELNO,
             (CASE WHEN LEFT(A.RPT_NO,1) = 'I' THEN A.CTM_NM + ' 님' ELSE A.CTM_NM END)AS CTM_NM, 
              (SELECT TOP 1 ZIP_PROV + ' ' + ZIP_CITY + ' ' + ZIP_TOWN FROM TC_ROADZIP with (nolock) WHERE BDONG_CD =  TOWN_CD )  AS  CTM_ADDR,   
              A.RPT_USRNM,   
              A.RPT_DT,   
              A.RPT_DESC,  
              A.RPT_DESCPLUS, 
              A.RPT_ENDDT,
              A.RPT_QDT,
             (SELECT CCD_NM FROM TT_COMCD with (nolock) WHERE CCD_CD = A.COM_SCD) COM_SCD_NM,
             (SELECT STI_NM FROM TC_STINF with (nolock) WHERE STI_CD = A.STI_CD AND COM_SCD = A.COM_SCD) STI_NM,
         (SELECT ISNULL(MOB_REMARK, '') FROM TA_PLANMST WHERE RPT_NO = A.RPT_NO AND RPT_SEQ = A.RPT_SEQ ) AS MOB_REMARK
         FROM TA_RPTREQ A with (nolock),
                    TT_VENDOR B with (nolock)
     WHERE   A.RPT_NO > '' 
          AND  A.RPT_SEQ > ''
          AND  A.VND_SCD = B.VND_CD
          AND  A.RPT_NO + A.RPT_SEQ = #{orm_no}
          AND  CONVERT(NUMERIC,SUBSTRING(A.COM_SPROG,4,3)) >=2
     ORDER BY A.STI_CD
	    
]]>
</select>

<select id="erp_selectSigongItemReport" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPSigongItemReport">
<![CDATA[
	SELECT 
                CASE WHEN C.COM_PLDSEC = 'C091' THEN (SELECT AA.WHS_NM FROM TW_WHSMAS AA with (nolock) WHERE C.ITM_STCCD = AA.WHS_CD)
                      WHEN C.COM_PLDSEC = 'C092' THEN C.ITM_STCCD
                      WHEN C.COM_PLDSEC = 'C095' THEN C.ITM_STCCD
                      WHEN C.COM_PLDSEC = 'C096' THEN C.ITM_STCCD
                      WHEN C.COM_PLDSEC = 'C093' THEN (SELECT BB.FES_SNM FROM TC_FESEC BB with (nolock) JOIN TC_FEINF CC with (nolock)  ON BB.FES_SEC = CC.FES_SEC 
                                                                                                                                       AND BB.COM_AGSEC = CC.COM_AGSEC 
                                                                                                        JOIN TT_ITMMST DD with (nolock) ON DD.ITM_CD = CC.ITM_CD
                                                                                                                                       AND DD.COL_CD = CC.COL_CD      
                                                                                                       WHERE 1=1
                                                                                                         AND CC.FEI_CD  = C.ITM_CD
                                                                                                         AND CC.FES_SEC = C.TRS_SEC )
                      WHEN C.COM_PLDSEC IN ('C094','C09A') THEN (SELECT EE.TRS_SNM FROM TC_TRSEC EE with (nolock) JOIN TC_TRINF FF with (nolock) ON EE.TRS_SEC   = FF.TRS_SEC
                                                                                                                                                AND EE.COM_BRAND = FF.COM_BRAND
                                                                                                                 WHERE 1=1
                                                                                                                   AND A.COM_AGSEC = EE.COM_AGSEC
                                                                                                                   AND A.COM_AGSEC = FF.COM_AGSEC
                                                                                                                   AND EE.COM_BRAND  = A.COM_BRAND
                                                                                                                   AND (C.ITM_CD = FF.TRI_ICD or  C.ITM_CD = FF.TRI_ICD_O))
                      WHEN C.COM_PLDSEC = 'C090' THEN C.SET_CD 
                END AS SET_CD
                ,C.ITM_CD 
                ,C.COL_CD 
                ,CASE WHEN A.COM_RMFG = 'C13N' THEN C.PLD_EQTY ELSE C.PLD_FQTY END PLD_FQTY /*201116. 유은향님 요청으로 미결시 요청수량 나오게함. 금액은 상관없다고함. 변경전. ,C.PLD_FQTY */
                ,CASE WHEN C.COM_PLDSEC = 'C090' AND  SUBSTRING(C.PLM_NO, 1, 1) = 'F'  THEN C.PLD_CUSAMT * 1.1 
                      WHEN C.COM_PLDSEC = 'C090' AND  SUBSTRING(C.PLM_NO, 1, 1) != 'F' THEN C.PLD_CUSAMT
                      WHEN C.COM_PLDSEC = 'C091' THEN C.PLD_CUSAMT
                      WHEN C.COM_PLDSEC = 'C092' THEN C.PLD_CUSAMT
                      WHEN C.COM_PLDSEC = 'C095' THEN C.PLD_CUSAMT
                      WHEN C.COM_PLDSEC = 'C096' THEN C.PLD_CUSAMT
                      WHEN C.COM_PLDSEC = 'C093' THEN C.PLD_FAMT
                      WHEN C.COM_PLDSEC IN ('C094','C09A') AND SUBSTRING(C.PLM_NO, 1, 1) = 'I' 
                                                           AND C.ITM_CD IN ( 'D254', 'D255', 'D256', 'D257', 'D258', 'D020', 'D021', 'D022', 'D023',
                                                                             'D024', 'D025', 'D026', 'D027', 'D028', 'D029', 'D030', 'D031', 'D032', 
                                                                             'D041', 'D042', 'D043', 'D044', 'D045', 'D046', 'D047', 'D048', 'D049', 
                                                                             'D050', 'D054', 'D055', 'D056', 'D057', 'D058', 'D059', 'D060', 'D061',
                                                                             'D062', 'D063' ) THEN ROUND(ISNULL(C.PLD_FAMT, 0) * 1.1, -1)
                      WHEN C.COM_PLDSEC IN ('C094','C09A') AND SUBSTRING(C.PLM_NO, 1, 1) = 'I' 
                                                           AND C.ITM_CD NOT IN ( 'D254', 'D255', 'D256', 'D257', 'D258', 'D020', 'D021', 'D022', 'D023',
                                                                                 'D024', 'D025', 'D026', 'D027', 'D028', 'D029', 'D030', 'D031', 'D032', 
                                                                                 'D041', 'D042', 'D043', 'D044', 'D045', 'D046', 'D047', 'D048', 'D049', 
                                                                                 'D050', 'D054', 'D055', 'D056', 'D057', 'D058', 'D059', 'D060', 'D061',
                                                                                 'D062', 'D063' ) THEN ROUND(( ISNULL(C.PLD_FAMT, 0) / 0.8 * 1.1 ), -1)                                                                                        
                      WHEN C.COM_PLDSEC IN ('C094','C09A') AND SUBSTRING(C.PLM_NO, 1, 1) != 'I' THEN 0 
                END AS PLD_FAMT
                ,CASE WHEN C.COM_PLDSEC = 'C090' AND  SUBSTRING(C.PLM_NO, 1, 1) = 'F'  THEN ISNULL(C.PLD_CUSAMT * 1.1,0) * ISNULL(C.PLD_FQTY, 0)   
                      WHEN C.COM_PLDSEC = 'C090' AND  SUBSTRING(C.PLM_NO, 1, 1) != 'F' THEN ISNULL(C.PLD_CUSAMT,0) * ISNULL(C.PLD_FQTY, 0) 
                      WHEN C.COM_PLDSEC = 'C091' THEN ISNULL(C.PLD_CUSAMT, 0) * ISNULL(C.PLD_FQTY, 0)
                      WHEN C.COM_PLDSEC = 'C092' THEN ISNULL(C.PLD_CUSAMT, 0) * ISNULL(C.PLD_FQTY, 0)
                      WHEN C.COM_PLDSEC = 'C095' THEN ISNULL(C.PLD_CUSAMT, 0) * ISNULL(C.PLD_FQTY, 0)
                      WHEN C.COM_PLDSEC = 'C096' THEN ISNULL(C.PLD_CUSAMT, 0) * ISNULL(C.PLD_FQTY, 0)
                      WHEN C.COM_PLDSEC = 'C093' THEN ISNULL(C.PLD_FAMT, 0)   * ISNULL(C.PLD_FQTY, 0)
                      WHEN C.COM_PLDSEC IN ('C094','C09A') AND SUBSTRING(C.PLM_NO, 1, 1) = 'I' 
                                                           AND C.ITM_CD IN ( 'D254', 'D255', 'D256', 'D257', 'D258', 'D020', 'D021', 'D022', 'D023',
                                                                             'D024', 'D025', 'D026', 'D027', 'D028', 'D029', 'D030', 'D031', 'D032', 
                                                                             'D041', 'D042', 'D043', 'D044', 'D045', 'D046', 'D047', 'D048', 'D049', 
                                                                             'D050', 'D054', 'D055', 'D056', 'D057', 'D058', 'D059', 'D060', 'D061',
                                                                             'D062', 'D063' ) THEN ROUND(ISNULL(C.PLD_FAMT, 0) * 1.1, -1) * ISNULL(C.PLD_FQTY, 0) 
                      WHEN C.COM_PLDSEC IN ('C094','C09A') AND SUBSTRING(C.PLM_NO, 1, 1) = 'I' 
                                                           AND C.ITM_CD NOT IN ( 'D254', 'D255', 'D256', 'D257', 'D258', 'D020', 'D021', 'D022', 'D023',
                                                                                 'D024', 'D025', 'D026', 'D027', 'D028', 'D029', 'D030', 'D031', 'D032', 
                                                                                 'D041', 'D042', 'D043', 'D044', 'D045', 'D046', 'D047', 'D048', 'D049', 
                                                                                 'D050', 'D054', 'D055', 'D056', 'D057', 'D058', 'D059', 'D060', 'D061',
                                                                                 'D062', 'D063' ) THEN ROUND(( ISNULL(C.PLD_FAMT, 0) / 0.8 * 1.1 ), -1) * ISNULL(C.PLD_FQTY, 0)                                                                                        
                      WHEN C.COM_PLDSEC IN ('C094','C09A') AND SUBSTRING(C.PLM_NO, 1, 1) != 'I' THEN 0
                END AS PLD_CRAMT
                ,CASE WHEN C.COM_PLDSEC = 'C093' THEN (SELECT CC.FEI_CNM FROM TC_FESEC BB with (nolock) JOIN TC_FEINF CC with (nolock)  ON BB.FES_SEC = CC.FES_SEC 
                                                                                                                                       AND BB.COM_AGSEC = CC.COM_AGSEC 
                                                                                                        JOIN TT_ITMMST DD with (nolock) ON DD.ITM_CD = CC.ITM_CD
                                                                                                                                       AND DD.COL_CD = CC.COL_CD      
                                                                                                       WHERE 1=1
                                                                                                         AND CC.FEI_CD  = C.ITM_CD
                                                                                                         AND CC.FES_SEC = C.TRS_SEC )
                      WHEN C.COM_PLDSEC IN ('C094','C09A') THEN (SELECT FF.TRI_INM FROM TC_TRSEC EE with (nolock) JOIN TC_TRINF FF with (nolock) ON EE.TRS_SEC   = FF.TRS_SEC
                                                                                                                                                AND EE.COM_BRAND = FF.COM_BRAND
                                                                                                                 WHERE 1=1
                                                                                                                   AND A.COM_AGSEC = EE.COM_AGSEC
                                                                                                                   AND A.COM_AGSEC = FF.COM_AGSEC
                                                                                                                   AND EE.COM_BRAND  = A.COM_BRAND
                                                                                                                   AND (C.ITM_CD = FF.TRI_ICD or  C.ITM_CD = FF.TRI_ICD_O))
                      ELSE (SELECT HH.ITM_NM FROM TT_ITMMST HH with (nolock) WHERE HH.ITM_CD = C.ITM_CD AND HH.COL_CD = C.COL_CD)
                END AS ITM_NM
            ,( CASE C.COM_RDSEC WHEN 'C13Y' THEN ( SELECT CCD_NM FROM TT_COMCD WHERE CCD_CD = C.COM_RDSEC ) 
                                WHEN 'C13W' THEN ( SELECT CCD_NM FROM TT_COMCD WHERE CCD_CD = C.COM_RDSEC ) 
                                ELSE ( SELECT CCD_NM FROM TT_COMCD WHERE CCD_CD = C.COM_RDSEC ) + ' / ' + ISNULL(C.MOB_REMARK, '') END ) AS COM_RDSEC
          FROM TC_PLANMST A with (nolock) JOIN TC_PLANDTL C with (nolock) ON 1=1
                                                                         AND C.PLM_NO = A.PLM_NO 
                                                                         AND C.COM_PLDSEC IN ('C090','C091','C092','C095','C096','C093','C094','C09A')      
         WHERE 1=1
             AND A.PLM_NO = #{plm_no}
    ORDER BY A.STI_CD ASC , A.PLM_NO ASC ,A.PLM_FTM ASC, C.COM_PLDSEC ASC, SET_CD
    
]]>
</select>

<select id="erp_selectSigongReport" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPSigongReport">
<![CDATA[

	 SELECT P.ORM_NO, 
	        (SELECT VND_NM 
	         FROM   TT_VENDOR with (nolock) 
	         WHERE  VND_CD = TO_ORDMAS.ORM_REBAGT) AS VND_NM, 
	        P.PLM_CDT, 
	        TO_ORDMAS.ORM_NM, 
	        (SELECT TOP 1 ZIP_PROV + ' ' + ZIP_CITY + ' ' + (CASE WHEN ZIP_TOWN = '' THEN BDONG_NM ELSE ZIP_TOWN END) FROM TC_ROADZIP with (nolock) WHERE BDONG_CD =  P.TOWN_CD )  AS  ORM_GADDR,
	       (SELECT STI_NM FROM TC_STINF with (nolock) WHERE STI_CD = P.STI_CD) AS STI_NM,
	       (SELECT CCD_NM FROM TT_COMCD with (nolock) WHERE CCD_CD = S.COM_SCD) AS COM_SCDNM,
			ISNULL(P.MOB_REMARK, '') + ' ' + ISNULL(( SELECT CASE WHEN MAX(LEFT(COM_UNDSEC,4)) = 'C52A'  THEN '재일정'
															WHEN MAX(LEFT(COM_UNDSEC,4)) = 'C52B'  THEN '반품' 
															WHEN MAX(LEFT(COM_UNDSEC,4)) = 'C52C'  THEN 'AS' 
															ELSE '' END FROM TC_PLANDTL TPD WITH (NOLOCK) WHERE TPD.PLM_NO = P.PLM_NO AND TPD.MOB_STD = 'C13N' ) , '')
			
						+ ' ' + ISNULL(( SELECT CCD_NM FROM TT_COMCD WITH (NOLOCK) WHERE CCD_CD = ( SELECT isnull(MAX(TPD.COM_UNDSEC), '') FROM TC_PLANDTL TPD WITH (NOLOCK) WHERE TPD.PLM_NO = P.PLM_NO AND TPD.MOB_STD = 'C13N' ) ), '') AS MOB_REMARK  
	 FROM   TO_ORDMAS with (nolock) 
	        INNER JOIN TC_PLANMST P with (nolock) 
	                ON TO_ORDMAS.ORM_NO = P.ORM_NO 
	        LEFT OUTER JOIN TT_CUSTOM C1 with (nolock) 
	                     ON TO_ORDMAS.ORM_AGTCST = C1.CTM_CD 
	        LEFT OUTER JOIN TT_CUSTOM C2 with (nolock) 
	                     ON P.ORM_PURCST = C2.CTM_CD 
	        LEFT OUTER JOIN TT_COMCD V2 with (nolock) 
	                     ON TO_ORDMAS.CMP_CD = V2.CCD_CD 
	        LEFT OUTER JOIN TT_USER U1 with (nolock) 
	                     ON P.ORM_SALEMP = U1.USR_CD 
	        LEFT OUTER JOIN TS_CEMPLOYEE U2 with (nolock) 
	                     ON P.ORM_AGTEMP = U2.CEP_CD 
	        INNER JOIN TC_STINF S with (nolock) 
	                ON P.STI_CD = S.STI_CD 
	        INNER JOIN TC_RESMST R with (nolock) 
	                ON R.PLM_NO = P.PLM_NO 
	 WHERE  1=1
	        AND V2.CDX_CD = 'T02' 
	        --AND P.COM_PLMFG >= 'C102' 
	        --AND R.COM_RFG = 'C1412'
	        AND R.COM_SCD = S.COM_SCD
	        AND R.PLM_NO = #{plm_no}
	 ORDER  BY P.STI_CD ASC	  
	    
]]>
</select>

<select id="erp_selectDeliveryItemList" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPDeliveryItemList">
<![CDATA[
      
	SELECT 
				  AA.COM_SCD_NM
			     ,AA.ITM_CD
			     ,AA.COL_CD
			     ,AA.PLD_FQTY
			     ,AA.STI_NM
			     ,AA.REM_DT
			     ,ISNULL(AA.ORM_NM, '') AS ORM_NM
			      ,ISNULL(AA.SET_CD, '') AS SET_CD
			      ,ISNULL(AA.COL_SCD, '') AS COL_SCD
				  ,AA.ITM_NM
	              ,AA.PLMFTM_NM
	  FROM (
	
	    SELECT TOP 100 A.STI_CD,
		             A.PLM_FTM,
					(SELECT CCD_NM FROM TT_COMCD with (nolock) WHERE CDX_CD = 'C41'	AND CCD_CD= A.PLM_FTM) AS 	PLMFTM_NM,
			         A.COM_SCD,
					(SELECT CCD_NM FROM TT_COMCD with (nolock) WHERE CDX_CD = 'C16'	AND CCD_CD= A.COM_SCD) AS 	COM_SCD_NM,
			         B.ITM_CD,
			         B.COL_CD,
			         SUM(B.PLD_FQTY) AS PLD_FQTY,
			         C.STI_NM,
			         E.REM_DT,
			         E.ORM_NO,
			         E.ORM_NM,
			         A.AGT_CD,
					(SELECT VND_NM FROM TT_VENDOR with (nolock) WHERE A.AGT_CD = VND_CD) AS VND_NM,	
			         B.SET_CD,
			         B.COL_SCD,
			         B.COM_STKSEC,
					 (SELECT CCD_NM FROM TT_COMCD with (nolock) WHERE CDX_CD='T34' AND CCD_CD = B.COM_STKSEC) AS COM_STKSEC_NM		 ,
			         E.REM_FTM,
					 (SELECT CCD_NM FROM TT_COMCD with (nolock) WHERE CDX_CD='C41' AND CCD_CD = E.REM_FTM) AS REM_FTM_NM,
			         B.COM_PLDSEC,
					 (CASE WHEN B.COM_PLDSEC = 'C092' THEN '매/경'
					             WHEN B.COM_PLDSEC = 'C091' THEN '위탁'
					             WHEN B.COM_PLDSEC = 'C094' THEN '분/설'
					             WHEN B.COM_PLDSEC = 'C096' THEN '반품'
							     WHEN B.COM_PLDSEC = 'C09A' THEN '폐기장'
					 ELSE '' END ) AS 		COM_PLDSECNM,
			         E.REM_CSEC,
				     (SELECT ITM_NM FROM TT_ITMMST with (nolock) WHERE ITM_CD = B.ITM_CD AND COL_CD = B.COL_CD) ITM_NM,
				  	 ( SELECT COM_GOODCD FROM TT_ITMCOP with (nolock) WHERE ITM_CD = B.ITM_CD AND COL_CD = B.COL_CD AND COM_CMP = CASE WHEN A.COM_AGSEC = 'C02F' THEN 'T01F' WHEN A.COM_AGSEC = 'C02I' THEN 'T01I' WHEN A.COM_AGSEC = 'C02P' THEN 'T01P' WHEN A.COM_AGSEC = 'C02T' THEN 'T01T' END) AS COM_GOODCD,
			         '' CHK
	     FROM TC_PLANMST A with (nolock),
			         TC_PLANDTL B with (nolock),
			         TC_STINF C with (nolock),
			         TC_RESMST E with (nolock)
	    WHERE 1=1
			 AND A.PLM_NO = B.PLM_NO
		     AND A.COM_SCD = C.COM_SCD
		     AND A.STI_CD = C.STI_CD
		     AND E.PLM_NO = A.PLM_NO
		     AND E.COM_RFG ='C142'
		     AND E.REM_DT = #{rem_dt}
		     AND A.STI_CD = #{sti_cd}
			 AND B.COM_PLDSEC IN('C090','C091','C092','C094','C096','C095','C09A')
	GROUP BY A.STI_CD,
					   A.COM_SCD,
					   B.COM_PLDSEC,
					   B.ITM_CD,
			           B.COL_CD,
			           C.STI_NM,
			           E.REM_DT,
			           E.ORM_NO,
			           E.ORM_NM,
			           A.AGT_CD,
			           B.SET_CD,
			           B.COL_SCD,
			           B.COM_STKSEC,
			           E.REM_FTM,
			           E.REM_CSEC,
					   A.COM_AGSEC,
					   A.PLM_FTM
	) AA
	WHERE PLD_FQTY > 0
	ORDER BY   AA.STI_NM,
	                   AA.PLM_FTM,
					   AA.ORM_NM,
				       AA.SET_CD,
				       AA.COL_SCD,
				       AA.ITM_CD,
				       AA.COL_CD
  
]]>
</select>
 
<select id="selectLgsStat" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.DataResult">
<![CDATA[

	  SELECT ISNULL(A.LGS_STAT, '') DATA1
	     FROM  TC_PLANMST A WITH (NOLOCK)
	    WHERE  PLM_NO = #{plm_no}
	    
]]>
</select>

<update id="updateDropSpot" parameterType="HashMap">
<![CDATA[
	UPDATE TC_PLANMST
	   SET DROP_SPOT = #{drop_spot},
	       DROP_RMK = #{drop_rmk}
	 WHERE PLM_NO = #{plm_no}
]]>
</update> 

<select id="selectPendencyItemList" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPConstructionItemPage">
<![CDATA[

	  SELECT 
	           ISNULL((SELECT TTI.ITM_NM FROM TT_ITMMST TTI WITH (NOLOCK) WHERE TTI.ITM_CD = A.ITM_CD AND TTI.COL_CD = A.COL_CD ), '') AS ITM_NM
		     , ISNULL(ITM_CD, '') AS ITMCD_COL
		     , ISNULL(SET_CD, '') AS SETCD_COL
			 , CASE WHEN PLD_EQTY = PLD_FQTY THEN PLD_FQTY ELSE PLD_EQTY - PLD_FQTY END PLD_FQTY
	     FROM  TC_PLANDTL A WITH (NOLOCK)
	    WHERE  COM_PLDSEC IN('C090','C091','C092','C093','C094','C095','C096','C0930','C09A')
	      AND  COM_RDSEC ='C13N'
	      AND  PLM_NO = #{plm_no}
	 ORDER BY  1

]]>
</select>

<select id="selectPendencyList" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPPendencyList">
<![CDATA[

    SELECT DISTINCT
	         '시공' COM_SSEC
		   , COM_BRAND
		   , PLM_NO		/*시공번호PK*/
		   , ORM_NO		/*수주번호*/
		   , ORM_NM
		   , STI_NM
		   , PLM_CDT
		   , PLD_RCDT		/*재일정요청일자*/
		   , DROP_SPOT	/*하차장소*/
		   , DROP_SPOT_NM
		   , DROP_RMK
		   , LGS_STAT		/*입고상태*/
		   , INP_RMK		/*입고특이사항*/
		   , COM_UNDSEC
		   , FILE_CNT
		   ,(CASE WHEN  sum(A) > 0	 THEN 'Y' ELSE '' END ) AS AS_YN
		   ,(CASE WHEN  sum(B) > 0	 THEN 'Y' ELSE '' END ) AS RE_YN
		   ,(CASE WHEN  sum(C) > 0	 THEN 'Y' ELSE '' END ) AS RETURN_YN
		   --,(CASE WHEN  sum(D) > 0	 THEN 'Y' ELSE '' END ) AS D
		   --,(CASE WHEN  sum(E) > 0	 THEN 'Y' ELSE '' END ) AS E
       FROM (SELECT  A.PLM_NO		/*시공번호PK*/
	               , A.ORM_NM		/*수주건명*/
				   , C.PLD_RCDT		/*재일정요청일자*/
				   , A.DROP_SPOT	/*하차장소*/
				   , (SELECT CCD_NM FROM TT_COMCD WITH (NOLOCk) WHERE CDX_CD = 'C77' AND CCD_YN = 'Y' AND CCD_CD = A.DROP_SPOT) AS DROP_SPOT_NM
				   , A.DROP_RMK 
				   , (SELECT CCD_NM FROM TT_COMCD WITH (NOLOCk) WHERE CDX_CD = 'C78' AND CCD_YN = 'Y' AND CCD_CD = A.LGS_STAT) AS LGS_STAT		/*입고상태*/
				   , A.INP_RMK		/*입고특이사항*/
				   , (SELECT CCD_NM FROM TT_COMCD WITH (NOLOCk) WHERE CDX_CD = 'C52' AND CCD_YN = 'Y' AND REF_1 = 'C23R' AND CCD_CD = C.COM_UNDSEC) COM_UNDSEC
				   , (SELECT COUNT(ATTCH_FILE_ID) FROM TY_ATTCHFILE WITH(NOLOCK) WHERE ATTCH_FILE_ID = 'proof' + A.PLM_NO AND ATTCH_DIV_CD = 'C') FILE_CNT 
				   , A.ORM_NO		/*수주번호*/
				   , A.PRJ_CD		/*프로젝트번호*/
				   , A.COM_SCD		/*서비스센터코드*/
				   , A.COM_AGSEC	/*회사*/
				   , ( SELECT CCD_NM FROM TT_COMCD WHERE CCD_CD = COM_BRAND ) AS COM_BRAND
				   --, A.COM_BRAND	/*브랜드*/
				   , A.AGT_CD		/*대리점코드*/
				   , A.COM_CTSEC	/*서비스팀구분*/
				   , A.STI_CD		/*시공팀코드*/
				   , A.STM_NO		/*서비스팀원번호*/
				   , A.SAC_CD		/*서비스지역코드*/
				   , A.ORM_ORDDT	/*주문일시*/
				   , A.ORM_RDT		/*요청납기일*/
				   , A.PLM_CDT		/*확정납기일*/
				   , A.PLM_FIXEDT	/*확정종료일*/
				   , A.PLM_ENDDT	/*시공종료일*/
				   , ISNULL(A.ORM_PURCST,'') AS ORM_PURCST	/*구매고객코드*/
				   --, A.ORM_NM		/*수주건명*/
				   , A.ORM_GEMP		/*납품처담당*/
				   , A.DET_CD		/*부서코드*/
				   , A.ORM_GEMPTEL	/*담당전화번호*/
				   , A.ORM_HDPHONE	/*담당HP*/
				   , A.PLM_PTM		/*요청시간*/
				   , A.PLM_FTM		/*확정시간*/
				   , A.PLM_ETM		/*종료시간*/
				   , A.COM_PLMFG	/*진행상태*/
				   , A.ORM_GPOST	/*납품처우편번호*/
				   , A.ORM_GADDR	/*납품처주소*/
				   , A.ORM_GSPC		/*납품처특이사항*/
				   , A.PLM_EVT		/*엘레베이터유뮤*/
				   , A.PLM_CMPYN	/*매장경유유무*/
				   , A.PLM_ITR		/*인테리어공사상태*/
				   , A.ORM_SALEMP	/*본사영업담당사원*/
				   , A.ORM_AGTEMP	/*대리점영업담당사원*/
				   , A.PLM_HCALLYN	/*해피콜유무*/
				   , A.PLM_RMK		/*시공특기사항*/
				   , A.COM_RMFG		/*결과등록상태*/
				   , A.COM_UNMSEC	/*미결사유구분*/
				   , A.ORM_GOOD		/*납품처명*/
				   , C.COM_UNPSEC
				   , C.PLD_RMK
				   , CASE WHEN((SELECT COUNT(*) FROM TC_PLANDTL C WITH (NOLOCK) WHERE C.COM_RDSEC ='C13N' AND C.PLM_NO = A.PLM_NO	 AND ISNULL(C.COM_TDSEC, '') = '' AND ISNULL(C.COM_UNPSEC,'') = '' ) = 0)THEN 1 ELSE 2 END AS COM_UNPEC	/*미결완료구분*/
				   , B.STI_NM		/*시공팀명*/
				   , (SELECT VND_NM FROM TT_VENDOR WITH (NOLOCK) WHERE A.AGT_CD = VND_CD) AS VND_NM		/*대리점이름*/
				   , A.AGT_CD AS VND_CD
				   ,(CASE WHEN COM_UNPSEC= 'C23A' OR (ISNULL(COM_UNPSEC,'') = '' AND PLD_RASDT > 0 ) THEN 1 ELSE 0 END ) AS A
				   ,(CASE WHEN ISNULL(COM_UNPSEC,'') = 'C23R' OR (ISNULL(COM_UNPSEC,'') = '' AND PLD_RCDT > 0 ) THEN 1 ELSE 0 END ) AS B
				   ,(CASE WHEN ISNULL(COM_UNPSEC,'') = 'C23E' OR (ISNULL(COM_UNPSEC,'') = '' AND ISNULL(PLD_RCDT,'') = '' AND ISNULL(PLD_RASDT,'') = '' ) THEN 1 ELSE 0 END ) AS C
 				   ,(CASE WHEN ISNULL(COM_UNPSEC,'') = 'C23T'  THEN 1 ELSE 0 END ) AS D
				   ,(CASE WHEN ISNULL(COM_UNPSEC,'') = 'C23C' OR (PLD_RMK = '시공') THEN 1 ELSE 0 END ) AS E
		   			,A.TOWN_CD /* 2018.03.29 AS접수 필요 파라미터 추가 */
			   FROM  TC_PLANMST A WITH (NOLOCK)
				   , TC_STINF B WITH (NOLOCK)
				   , TC_PLANDTL C WITH (NOLOCK)
			  WHERE  A.COM_PLMFG >='C103'
				AND  A.COM_RMFG ='C13N'
				AND  C.PLM_NO = A.PLM_NO
				/*2018.06.05 |주요한| 폐기장 코드 추가 */
				/*AND  C.COM_PLDSEC IN ('C090','C091','C092','C093','C094','C095','C096','C0930') */
				AND  C.COM_PLDSEC IN ('C090','C091','C092','C093','C094','C095','C096','C0930','C09A')
				AND  C.COM_RDSEC ='C13N'
				AND  A.STI_CD = B.STI_CD
				AND  A.COM_SCD = #{com_scd}
				AND  A.STI_CD = #{sti_cd}
				--AND  C.PLD_RCDT  >= '20211101'
				--AND  C.PLD_RCDT  <= '20211101'
				AND  A.PLM_CDT  >= #{fr_date}
				AND  A.PLM_CDT  <= #{to_date}
				--AND  CASE WHEN((SELECT COUNT(*) FROM TC_PLANDTL C WITH (NOLOCK) WHERE C.COM_RDSEC ='C13N' AND C.PLM_NO = A.PLM_NO	 AND ISNULL(C.COM_TDSEC, '') = '' AND ISNULL(C.COM_UNPSEC,'') = '' ) = 0)THEN 1 ELSE 2 END  = 1
				)A
	 WHERE A.A > 0 OR A.B > 0 OR A.C > 0
   	GROUP BY  COM_BRAND
   	       , PLM_NO		/*시공번호PK*/
		   , ORM_NO		/*수주번호*/
		   , ORM_NM
		   , PLD_RCDT		/*재일정요청일자*/
		   , DROP_SPOT	/*하차장소*/
		   , DROP_SPOT_NM
		   , DROP_RMK
		   , LGS_STAT		/*입고상태*/
		   , INP_RMK		/*입고특이사항*/
		   , STI_NM
		   , PLM_CDT
		   , COM_UNDSEC
		   , FILE_CNT
   ORDER BY  STI_NM
		   , PLM_CDT

]]>

</select>

<update id="finishScheduleHistory" parameterType="HashMap">
<![CDATA[
	UPDATE TT_SCHEDULE_HISTORY
	   SET END_TIME = GETDATE(),
           RESULT = #{result},
           REMARK = #{remark}
	 WHERE SEQ_NO = #{seq_no}
]]>
</update> 

<insert id="startScheduleHistory" parameterType="HashMap">
<selectKey keyProperty="seq_no" resultType="Integer" order="AFTER"> 
	SELECT IDENT_CURRENT('TT_SCHEDULE_HISTORY')
</selectKey>
<![CDATA[
	INSERT INTO TT_SCHEDULE_HISTORY (
           SCHEDULE_SERVER,
           SCHEDULE_ID,
           SCHEDULE_NAME,
           START_TIME,
           END_TIME,
           RESULT,
           REMARK )
	VALUES (
           #{schedule_server},
           #{schedule_id},
           #{schedule_name},
           GETDATE(),
           GETDATE(), 
           #{result},
           #{remark} )

]]>
</insert>

<select id="selectScheduledtFcmNotifyList" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPFcmNotify">
<![CDATA[

	 SELECT DISTINCT
	       'mobilecm' AS SEND_FROM_SYSTEM,
	       'mobilecm' AS SEND_TO_SYSTEM,
		   tcr.sti_cd AS COM_SCD,
		   '상차전 반품 등록 내용 알람' AS TITLE,
		   '1)납기: ' + convert(varchar, tcr.rem_dt, 102)
		   + CHAR(13) + CHAR(10) + '2)수주번호: ' + tww.orm_no 
		   + CHAR(13) + CHAR(10) + '3)수주건명: ' + tcr.orm_nm 
		   + CHAR(13) + CHAR(10) + '4)대리점: ' + (select ttv.vnd_nm from tt_vendor ttv where ttv.vnd_cd = tcr.agt_cd ) AS MESSAGE,
		   '' AS USER_ID
	  FROM tw_wtrecpl tww with (nolock), tc_resmst tcr with (nolock)
	 WHERE tww.orm_no = tcr.orm_no
	   AND tcr.com_ssec = 'C18C'
	   AND tcr.rem_dt = CONVERT(CHAR(8), DATEADD(DAY, 1, convert(char(8), getdate(), 112)), 112)
	 ORDER BY tcr.sti_cd

]]>
</select>

<select id="selectNotifyList" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.DataResult">
<![CDATA[
	SELECT SEND_TEXT AS DATA1
	  FROM TC_NOTIFY WITH (NOLOCK)
	 WHERE RECEIVE_ID = #{sti_cd}
	   AND SEND_DT >= DATEADD("DAY", -7, GETDATE())
	 ORDER BY SEND_DT DESC

]]>
</select>

<insert id="insertSigonWorkTimeOverAcc" parameterType="HashMap">
<![CDATA[
	INSERT INTO TC_ACTLIST (
		PLM_NO,
		COM_ASEC,
		COM_ACD,
		COM_SVND,
		COM_AGSEC,
		COM_DPSEC,
		ACL_VFROM,
		ACL_VTO,
		COM_VFSEC,
		COM_VTSEC,
		ACL_AMT,
		COM_SCD,
		COM_CTSEC,
		PLM_CDT,
		ACL_DT,
		ACL_CMPYN,
		ACL_RMK,
		USR_CD,
		SYS_DT,
		COM_CESEC,
		COM_BRAND )
	VALUES (
		#{plm_no},
		'C0929',
		'C01090',
		'C21I',
		'C02I',
		'C07P',
		'C21B',
		#{sti_cd},
		'C2404',
		'C2501',
		5000,
		#{com_scd},
		'C06L',
		#{plm_cdt},
		#{plm_cdt},
		'N',
		'기타추가비용 지급정산금액 = 5000',
		#{sti_cd},
		GETDATE(),
		'C292',
		#{com_brand} )

]]>
</insert>
 
<insert id="insertSigonWorkTimeOver" parameterType="HashMap">
<![CDATA[
	 INSERT INTO TC_PLANDTL (
	      PLM_NO,
	      COM_PLDSEC,
	      ORD_SSEQ,
	      ORD_ISEQ,
	      ITM_CD,
	      COL_CD,
	      SET_CD,
	      COL_SCD,
	      PLD_EQTY,
	      PLD_FQTY,
	      PLD_FAMT,
	      PLD_CRAMT,
	      PLD_CFAMT,
	      PLD_CUSAMT,
	      COM_RDSEC,
	      PLD_RMK,
	      USR_CD,
	      SYS_DT,
	      COM_ACD,
	      COM_SVND,
	      COM_VFSEC,
	      COM_VTSEC,
	      COM_RASEC,
	      PLD_CSEC,
	      FST_USR,
	      FST_SYS_DT,
	      MOB_STD )
	VALUES (
	      #{plm_no},
	      'C0929',
	      '07P',
	      '001',
	      '',
	      '',
	      '',
	      '',
	      1,
	      1,
	      5000,
	      5000,
	      5000,
	      5000,
	      'C13Y',
	      '저녁시공건(AUTO)',
	      #{sti_cd},
	      GETDATE(),
	      'C01090',
	      'C21I',
	      'C2404',
	      'C2501',
	      'C12C',
	      'Y',
	      #{sti_cd},
	      GETDATE(),
	      'C13Y')
]]>
</insert>
 
<select id="selectSigongArrivalTimeCheck" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.DataResult">
<![CDATA[
	SELECT REM_FTM DATA1
	FROM TC_RESMST WITH (NOLOCK)
	WHERE REM_DT = #{rem_dt}
	 AND REM_SEQ = #{rem_seq}
	 AND REM_FTM BETWEEN 'C70037' AND 'C70049'
]]>
</select>

<select id="selectSigongWorkTimeCheck" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.DataResult">
<![CDATA[
	SELECT CASE WHEN REPLACE(CONVERT(NVARCHAR(8), CONVERT(TIME, MOB_STARTTM), 120), ':', '') >= '180000' THEN 'Y' ELSE 'N' END DATA1      
	FROM TC_PLANMST WITH (NOLOCK)
	WHERE PLM_NO = #{plm_no}
]]>
</select>

<insert id="insertSigongWallFixAcc" parameterType="HashMap">
<![CDATA[
	INSERT INTO TC_ACTLIST (
		PLM_NO,
		COM_ASEC,
		COM_ACD,
		COM_SVND,
		COM_AGSEC,
		COM_DPSEC,
		ACL_VFROM,
		ACL_VTO,
		COM_VFSEC,
		COM_VTSEC,
		ACL_AMT,
		COM_SCD,
		COM_CTSEC,
		PLM_CDT,
		ACL_DT,
		ACL_CMPYN,
		ACL_RMK,
		USR_CD,
		SYS_DT,
		COM_CESEC,
		COM_BRAND )
	VALUES (
		#{plm_no},
		'C0928',
		'C01208',
		'C21B',
		'C02I',
		'C07P',
		'C21B',
		#{sti_cd},
		'C2402',
		'C2501',
		5000,
		#{com_scd},
		'C06L',
		#{plm_cdt},
		#{plm_cdt},
		'N',
		'기타추가비용 지급정산금액 = 5000',
		#{sti_cd},
		GETDATE(),
		'C292',
		#{com_brand}
	)

]]>
</insert> 

<insert id="insertSigongWallFix" parameterType="HashMap">
<![CDATA[
	INSERT INTO TC_PLANDTL (
	      PLM_NO,
	      COM_PLDSEC,
	      ORD_SSEQ,
	      ORD_ISEQ,
	      ITM_CD,
	      COL_CD,
	      SET_CD,
	      COL_SCD,
	      PLD_EQTY,
	      PLD_FQTY,
	      PLD_FAMT,
	      PLD_CRAMT,
	      PLD_CFAMT,
	      PLD_CUSAMT,
	      COM_RDSEC,
	      PLD_RMK,
	      USR_CD,
	      SYS_DT,
	      COM_ACD,
	      COM_SVND,
	      COM_VFSEC,
	      COM_VTSEC,
	      COM_RASEC,
	      PLD_CSEC,
	      FST_USR,
	      FST_SYS_DT,
	      MOB_STD )
	VALUES (
	      #{plm_no},
	      'C0928',
	      '07P',
	      '001',
	      '',
	      '',
	      '',
	      '',
	      1,
	      1,
	      5000,
	      5000,
	      5000,
	      5000,
	      'C13Y',
	      '벽고정시공건(AUTO)',
	      #{sti_cd},
	      GETDATE(),
	      'C01208',
	      'C21B',
	      'C2402',
	      'C2501',
	      'C12A',
	      'Y',
	      #{sti_cd},
	      GETDATE(),
	      'C13Y')


]]>
</insert> 


<select id="selectPhoneID" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPPushMessage">
<![CDATA[
	SELECT STI_CD AS sti_cd, PHONE_ID AS token
	FROM TC_STINF TCS WITH (NOLOCK)
	WHERE ( TCS.COM_SCD = #{com_scd} OR TCS.STI_CD = #{com_scd} ) 
	  AND TCS.PHONE_ID IS NOT NULL
	  AND TCS.STI_RANK = 'Y'  				
]]>
</select>

<update id="deleteUsedPhoneID" parameterType="HashMap">
<![CDATA[
	UPDATE TC_STINF
	   SET PHONE_ID = NULL
	 WHERE PHONE_ID = #{phone_id}
]]>
</update> 

<update id="updatePhoneID" parameterType="HashMap">
<![CDATA[
	UPDATE TC_STINF
	   SET PHONE_ID = #{phone_id}
	 WHERE COM_SCD = #{com_scd}
	   AND STI_CD = #{sti_cd}
]]>
</update> 

<select id="selectNotifyGetDate" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.DataResult">
<![CDATA[
	SELECT CONVERT(NVARCHAR(20), GETDATE(), 2) + ' ' + CONVERT(NVARCHAR(8), GETDATE(), 8) DATA1      
	
]]>
</select>

<insert id="insertNotify" parameterType="HashMap" useGeneratedKeys="true" keyProperty="seq_no">
<selectKey keyProperty="seq_no" resultType="Integer" order="AFTER"> 
	SELECT IDENT_CURRENT('TC_NOTIFY')
</selectKey>

<![CDATA[
	INSERT INTO TC_NOTIFY (
	       SEND_FROM_SYSTEM, SEND_TO_SYSTEM, SEND_DT, SENDER_ID, SEND_TEXT, RECEIVE_ID, RECEIVE_PHONE_ID )
	VALUES (
	       #{send_from_system}, #{send_to_system}, GETDATE(), #{sender_id}, #{send_text}, #{receive_id}, #{receive_phone_id})
     
]]>
</insert> 

<update id="deleteAttachFile" parameterType="HashMap">
<![CDATA[
	DELETE
	 FROM TY_ATTCHFILE
	WHERE ATTCH_FILE_ID = #{attch_file_id}
	AND ATTCH_DIV_CD = #{attch_div_cd}	 
	AND ATTCH_FILE_SNUM = #{attch_file_snum}
	
]]>
</update> 

<select id="selectSigongAttachFileList"  parameterType="HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPAttachFileList">
<![CDATA[	
	SELECT ATTCH_FILE_ID,
	       ATTCH_FILE_SNUM,
	       ATTCH_DIV_CD,
	       REAL_ATTCH_FILE_NAME,
	       VIRTUAL_ATTCH_FILE_NAME,
	       ATTCH_FILE_PATH,
	       ATTCH_FILE_SIZE
	FROM TY_ATTCHFILE WITH(NOLOCK)	
	WHERE ATTCH_FILE_ID = #{attch_file_id}
	AND ATTCH_DIV_CD = #{attch_div_cd}
	ORDER BY ATTCH_FILE_SNUM DESC
]]>
</select>

</mapper>