<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fursys.mobilecm.mapper.ErpSigongAsMapper">

<update id="finishScheduleHistory" parameterType="HashMap">
<![CDATA[
	UPDATE TT_SCHEDULE_HISTORY
	   SET END_TIME = GETDATE(),
           RESULT = #{result},
           REMARK = #{remark}
	 WHERE SEQ_NO = #{seq_no}
]]>
</update> 

<insert id="startScheduleHistory" parameterType="HashMap">
<selectKey keyProperty="seq_no" resultType="Integer" order="AFTER"> 
	SELECT IDENT_CURRENT('TT_SCHEDULE_HISTORY')
</selectKey>
<![CDATA[
	INSERT INTO TT_SCHEDULE_HISTORY (
           SCHEDULE_SERVER,
           SCHEDULE_ID,
           SCHEDULE_NAME,
           START_TIME,
           END_TIME,
           RESULT,
           REMARK )
	VALUES (
           #{schedule_server},
           #{schedule_id},
           #{schedule_name},
           GETDATE(),
           GETDATE(), 
           #{result},
           #{remark} )

]]>
</insert>


<select id="selectScheduledtFcmNotifyList" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPFcmNotify">
<![CDATA[

	 SELECT DISTINCT
	       'mobilecm' AS SEND_FROM_SYSTEM,
	       'mobilecm' AS SEND_TO_SYSTEM,
		   tcr.sti_cd AS COM_SCD,
		   '상차전 반품 등록 내용 알람' AS TITLE,
		   '1)납기: ' + convert(varchar, tcr.rem_dt, 102)
		   + CHAR(13) + CHAR(10) + '2)수주번호: ' + tww.orm_no 
		   + CHAR(13) + CHAR(10) + '3)수주건명: ' + tcr.orm_nm 
		   + CHAR(13) + CHAR(10) + '4)대리점: ' + (select ttv.vnd_nm from tt_vendor ttv where ttv.vnd_cd = tcr.agt_cd ) AS MESSAGE,
		   '' AS USER_ID
	  FROM tw_wtrecpl tww with (nolock), tc_resmst tcr with (nolock)
	 WHERE tww.orm_no = tcr.orm_no
	   AND tcr.com_ssec = 'C18C'
	   AND tcr.rem_dt = convert(char(8), getdate(), 112)
	 ORDER BY tcr.sti_cd

]]>
</select>

<select id="selectNotifyList" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.DataResult">
<![CDATA[
	SELECT SEND_TEXT AS DATA1
	  FROM TC_NOTIFY WITH (NOLOCK)
	 WHERE RECEIVE_ID = #{sti_cd}
	   AND SEND_DT >= DATEADD("DAY", -7, GETDATE())
	 ORDER BY SEND_DT DESC

]]>
</select>

<insert id="insertSigonWorkTimeOverAcc" parameterType="HashMap">
<![CDATA[
	INSERT INTO TC_ACTLIST (
		PLM_NO,
		COM_ASEC,
		COM_ACD,
		COM_SVND,
		COM_AGSEC,
		COM_DPSEC,
		ACL_VFROM,
		ACL_VTO,
		COM_VFSEC,
		COM_VTSEC,
		ACL_AMT,
		COM_SCD,
		COM_CTSEC,
		PLM_CDT,
		ACL_DT,
		ACL_CMPYN,
		ACL_RMK,
		USR_CD,
		SYS_DT,
		COM_CESEC,
		COM_BRAND )
	VALUES (
		#{plm_no},
		'C0929',
		'C01090',
		'C21I',
		'C02I',
		'C07P',
		'C21B',
		#{sti_cd},
		'C2404',
		'C2501',
		5000,
		#{com_scd},
		'C06L',
		#{plm_cdt},
		#{plm_cdt},
		'N',
		'기타추가비용 지급정산금액 = 5000',
		#{sti_cd},
		GETDATE(),
		'C292',
		#{com_brand} )

]]>
</insert>
 
<insert id="insertSigonWorkTimeOver" parameterType="HashMap">
<![CDATA[
	 INSERT INTO TC_PLANDTL (
	      PLM_NO,
	      COM_PLDSEC,
	      ORD_SSEQ,
	      ORD_ISEQ,
	      ITM_CD,
	      COL_CD,
	      SET_CD,
	      COL_SCD,
	      PLD_EQTY,
	      PLD_FQTY,
	      PLD_FAMT,
	      PLD_CRAMT,
	      PLD_CFAMT,
	      PLD_CUSAMT,
	      COM_RDSEC,
	      PLD_RMK,
	      USR_CD,
	      SYS_DT,
	      COM_ACD,
	      COM_SVND,
	      COM_VFSEC,
	      COM_VTSEC,
	      COM_RASEC,
	      PLD_CSEC,
	      FST_USR,
	      FST_SYS_DT,
	      MOB_STD )
	VALUES (
	      #{plm_no},
	      'C0929',
	      '07P',
	      '001',
	      '',
	      '',
	      '',
	      '',
	      1,
	      1,
	      5000,
	      5000,
	      5000,
	      5000,
	      'C13Y',
	      '저녁시공건(AUTO)',
	      #{sti_cd},
	      GETDATE(),
	      'C01090',
	      'C21I',
	      'C2404',
	      'C2501',
	      'C12C',
	      'Y',
	      #{sti_cd},
	      GETDATE(),
	      'C13Y')
]]>
</insert>
 
<select id="selectSigongArrivalTimeCheck" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.DataResult">
<![CDATA[
	SELECT REM_FTM DATA1
	FROM TC_RESMST WITH (NOLOCK)
	WHERE REM_DT = #{rem_dt}
	 AND REM_SEQ = #{rem_seq}
	 AND REM_FTM BETWEEN 'C70037' AND 'C70049'
]]>
</select>

<select id="selectSigongWorkTimeCheck" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.DataResult">
<![CDATA[
	SELECT CASE WHEN REPLACE(CONVERT(NVARCHAR(8), CONVERT(TIME, MOB_STARTTM), 120), ':', '') >= '180000' THEN 'Y' ELSE 'N' END DATA1      
	FROM TC_PLANMST WITH (NOLOCK)
	WHERE PLM_NO = #{plm_no}
]]>
</select>

<insert id="insertSigongWallFixAcc" parameterType="HashMap">
<![CDATA[
	INSERT INTO TC_ACTLIST (
		PLM_NO,
		COM_ASEC,
		COM_ACD,
		COM_SVND,
		COM_AGSEC,
		COM_DPSEC,
		ACL_VFROM,
		ACL_VTO,
		COM_VFSEC,
		COM_VTSEC,
		ACL_AMT,
		COM_SCD,
		COM_CTSEC,
		PLM_CDT,
		ACL_DT,
		ACL_CMPYN,
		ACL_RMK,
		USR_CD,
		SYS_DT,
		COM_CESEC,
		COM_BRAND )
	VALUES (
		#{plm_no},
		'C0928',
		'C01208',
		'C21B',
		'C02I',
		'C07P',
		'C21B',
		#{sti_cd},
		'C2402',
		'C2501',
		5000,
		#{com_scd},
		'C06L',
		#{plm_cdt},
		#{plm_cdt},
		'N',
		'기타추가비용 지급정산금액 = 5000',
		#{sti_cd},
		GETDATE(),
		'C292',
		#{com_brand}
	)

]]>
</insert> 

<insert id="insertSigongWallFix" parameterType="HashMap">
<![CDATA[
	INSERT INTO TC_PLANDTL (
	      PLM_NO,
	      COM_PLDSEC,
	      ORD_SSEQ,
	      ORD_ISEQ,
	      ITM_CD,
	      COL_CD,
	      SET_CD,
	      COL_SCD,
	      PLD_EQTY,
	      PLD_FQTY,
	      PLD_FAMT,
	      PLD_CRAMT,
	      PLD_CFAMT,
	      PLD_CUSAMT,
	      COM_RDSEC,
	      PLD_RMK,
	      USR_CD,
	      SYS_DT,
	      COM_ACD,
	      COM_SVND,
	      COM_VFSEC,
	      COM_VTSEC,
	      COM_RASEC,
	      PLD_CSEC,
	      FST_USR,
	      FST_SYS_DT,
	      MOB_STD )
	VALUES (
	      #{plm_no},
	      'C0928',
	      '07P',
	      '001',
	      '',
	      '',
	      '',
	      '',
	      1,
	      1,
	      5000,
	      5000,
	      5000,
	      5000,
	      'C13Y',
	      '벽고정시공건(AUTO)',
	      #{sti_cd},
	      GETDATE(),
	      'C01208',
	      'C21B',
	      'C2402',
	      'C2501',
	      'C12A',
	      'Y',
	      #{sti_cd},
	      GETDATE(),
	      'C13Y')


]]>
</insert> 


<select id="selectPhoneID" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPPushMessage">
<![CDATA[
	SELECT STI_CD AS sti_cd, PHONE_ID AS token
	FROM TC_STINF TCS WITH (NOLOCK)
	WHERE ( TCS.COM_SCD = #{com_scd} OR TCS.STI_CD = #{com_scd} ) 
	  AND TCS.PHONE_ID IS NOT NULL
	  AND TCS.STI_RANK = 'Y'  				
]]>
</select>

<update id="deleteUsedPhoneID" parameterType="HashMap">
<![CDATA[
	UPDATE TC_STINF
	   SET PHONE_ID = NULL
	 WHERE PHONE_ID = #{phone_id}
]]>
</update> 

<update id="updatePhoneID" parameterType="HashMap">
<![CDATA[
	UPDATE TC_STINF
	   SET PHONE_ID = #{phone_id}
	 WHERE COM_SCD = #{com_scd}
	   AND STI_CD = #{sti_cd}
]]>
</update> 

<select id="selectNotifyGetDate" parameterType="java.util.HashMap" resultType="com.fursys.mobilecm.vo.DataResult">
<![CDATA[
	SELECT CONVERT(NVARCHAR(20), GETDATE(), 2) + ' ' + CONVERT(NVARCHAR(8), GETDATE(), 8) DATA1      
	
]]>
</select>

<insert id="insertNotify" parameterType="HashMap" useGeneratedKeys="true" keyProperty="seq_no">
<selectKey keyProperty="seq_no" resultType="Integer" order="AFTER"> 
	SELECT IDENT_CURRENT('TC_NOTIFY')
</selectKey>

<![CDATA[
	INSERT INTO TC_NOTIFY (
	       SEND_FROM_SYSTEM, SEND_TO_SYSTEM, SEND_DT, SENDER_ID, SEND_TEXT, RECEIVE_ID, RECEIVE_PHONE_ID )
	VALUES (
	       #{send_from_system}, #{send_to_system}, GETDATE(), #{sender_id}, #{send_text}, #{receive_id}, #{receive_phone_id})
     
]]>
</insert> 

<update id="deleteAttachFile" parameterType="HashMap">
<![CDATA[
	DELETE
	 FROM TY_ATTCHFILE
	WHERE ATTCH_FILE_ID = #{attch_file_id}
	AND ATTCH_DIV_CD = #{attch_div_cd}	 
	AND ATTCH_FILE_SNUM = #{attch_file_snum}
	
]]>
</update> 

<select id="selectSigongAttachFileList"  parameterType="HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPAttachFileList">
<![CDATA[	
	SELECT ATTCH_FILE_ID,
	       ATTCH_FILE_SNUM,
	       ATTCH_DIV_CD,
	       REAL_ATTCH_FILE_NAME,
	       VIRTUAL_ATTCH_FILE_NAME,
	       ATTCH_FILE_PATH,
	       ATTCH_FILE_SIZE
	FROM TY_ATTCHFILE WITH(NOLOCK)	
	WHERE ATTCH_FILE_ID = #{attch_file_id}
	AND ATTCH_DIV_CD = #{attch_div_cd}
	ORDER BY ATTCH_FILE_SNUM DESC
]]>
</select>

</mapper>