<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fursys.mobilecm.mapper.LoadingOrmDtlMapper">

<select id="getLoadingOrmDtlList" parameterType="HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPItemOrd">      
<![CDATA[  
	SELECT
		ISNULL(B.SET_CD, B.ITM_CD) AS SET_CD,
		B.ITM_CD AS ITM_CD,
		B.COL_CD AS COL_CD,
		SUM(B.PLD_FQTY) AS PLD_FQTY,
		(SELECT ITM.ITM_NM FROM TT_ITMMST ITM  WITH (NOLOCK)  WHERE ITM.ITM_CD = B.ITM_CD AND ITM.COL_CD = B.COL_CD ) AS ITM_NM,
		( CASE WHEN ( SELECT COUNT(*)
		FROM TO_MCITM TM WITH (NOLOCK), TO_ORDDET OD WITH (NOLOCK)
		WHERE TM.ORM_NO = A.ORM_NO
		AND TM.ORM_NO = OD.ORM_NO
		AND TM.ORD_ISEQ = OD.ORD_ISEQ
		AND TM.ORD_SSEQ = OD.ORD_SSEQ ) > 0 THEN 'Y' ELSE '' END ) AS 'MICHUL_YN',
		ISNULL((SELECT SUM(WT.WTP_PLANQTY) FROM TW_WTRECPL WT WITH(NOLOCK) WHERE WT.ORM_NO = A.ORM_NO AND WT.ITM_CD = B.ITM_CD AND WT.COL_CD = B.COL_CD), 0) AS RETURN_QTY,
		ISNULL(B.SET_CD, B.ITM_CD) + '-' + B.ITM_CD + '-' + B.COL_CD AS 'ITEM_COL',
		( CASE WHEN B.BMT_SGRADE = 'Y' THEN 'Y' ELSE 'N' END ) AS DELAY_YN
	FROM TC_PLANMST A WITH (NOLOCK), TC_PLANDTL B WITH (NOLOCK)
	WHERE  A.PLM_NO = #{plm_no}
	AND A.PLM_NO = B.PLM_NO
	AND B.COM_PLDSEC IN ('C092', 'C090', 'C09A')
	AND ( B.ITM_CD NOT LIKE 'EXTRA%' AND B.ITM_CD NOT LIKE 'ZERO%' )
	AND ( B.ITM_CD NOT IN ('HW00E15EE', 'HW00E24EE', 'HW00E25EE', 'HW01E15EE', 'HW01E24EE', 'HW01E25EE', 'C37', 'X1', 'AS-1A-000'))
    AND B.PLD_FQTY <> 0
	GROUP BY B.SET_CD, B.ITM_CD, B.COL_CD, A.ORM_NO, B.BMT_SGRADE
	ORDER BY B.SET_CD    
]]>
</select>

<select id="getLoadingAsDtlList" parameterType="HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPItemOrd">    
<![CDATA[      
	SELECT
		B.BMT_ITEM AS SET_CD,
		B.BMT_ITEM AS ITM_CD,
		B.COL_CD AS COL_CD,
		SUM(B.PLD_FQTY) AS PLD_FQTY,
		ISNULL((SELECT BTM.BMT_NM FROM TT_BOMMST BTM WITH (NOLOCK) WHERE BTM.BMT_ITEM = B.BMT_ITEM AND  BTM.COL_CD = B.COL_CD ), '') AS ITM_NM,
		'' AS 'MICHUL_YN',
		0 AS RETURN_QTY,
		B.BMT_ITEM + '-' + B.BMT_ITEM + '-' + B.COL_CD AS 'ITEM_COL',
		'N' AS DELAY_YN
	FROM TA_PLANMST A WITH (NOLOCK), TA_PLANDTL B WITH (NOLOCK), TT_BOMMST C WITH (NOLOCK)
	WHERE A.PLM_NO = #{plm_no}
	  AND A.PLM_NO = B.PLM_NO
	  AND B.PLD_FQTY <> 0
	  AND B.BMT_ITEM = C.BMT_ITEM
	  AND B.COL_CD = C.COL_CD
	  AND RIGHT(C.BMT_NM, 5) NOT LIKE '(미상차)%'
	  GROUP BY B.BMT_ITEM, B.COL_CD
	  ORDER BY B.BMT_ITEM
]]>
</select>

</mapper>