<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fursys.mobilecm.mapper.LoadingOrmMapper">
    
<select id="getLoadingOrmList" parameterType="HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPOrdLdList">         
<![CDATA[ 
	SELECT
	'시공'   AS COM_SSEC,
	A.COM_BRAND,
	A.COM_AGSEC,
	A.ORM_NO,
	A.PLM_NO AS PLM_NO,
	CASE ( SELECT TCR.REM_CSEC FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18C' ) WHEN 'R' THEN 
	'[재일정]'+A.ORM_NM ELSE A.ORM_NM END AS ORM_NM,
	ISNULL(( CASE WHEN ( SELECT COUNT(*) FROM TO_MCITM TM WITH (NOLOCK) WHERE TM.ORM_NO = A.ORM_NO ) > 0 THEN 'Y' ELSE '' END ), '') AS 'MICHUL_YN',
	ISNULL(( SELECT COUNT(DISTINCT TD.ITM_CD+TD.COL_CD)
	  FROM TC_PLANDTL TD WITH(NOLOCK)
	 WHERE TD.PLM_NO = A.PLM_NO
	   AND (TD.ITM_CD NOT LIKE 'ZERO%' AND TD.ITM_CD NOT LIKE 'EXTRA%')
	   AND TD.PLD_FQTY <> 0
	   AND (TD.ITM_CD NOT IN ('HW00E15EE', 'HW00E24EE', 'HW00E25EE', 'HW01E15EE', 'HW01E24EE', 'HW01E25EE', 'C37', 'X1', 'AS-1A-000'))
	   AND TD.COM_PLDSEC IN ('C092', 'C090') ), 0) AS ITM_QTY,
	ISNULL(( SELECT SUM(TD.PLD_FQTY)
	  FROM TC_PLANDTL TD WITH(NOLOCK)
	 WHERE TD.PLM_NO = A.PLM_NO
	   AND (TD.ITM_CD NOT LIKE 'ZERO%' AND TD.ITM_CD NOT LIKE 'EXTRA%')
	   AND TD.PLD_FQTY <> 0
	   AND (TD.ITM_CD NOT IN ('HW00E15EE', 'HW00E24EE', 'HW00E25EE', 'HW01E15EE', 'HW01E24EE', 'HW01E25EE', 'C37', 'X1', 'AS-1A-000'))
	   AND TD.COM_PLDSEC IN ('C092', 'C090') ), 0) AS ITM_SUM,
	   ISNULL( ( CASE WHEN ( SELECT COUNT(*) FROM TW_WTRECPL WT WITH(NOLOCK) WHERE WT.ORM_NO = A.ORM_NO ) >0 THEN 'Y' ELSE '' END), '') AS RETURN_YN,
	   ( SELECT CONVERT(INT, TCR.ARRIVAL_SEQ) FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18C' ) AS ARRIVAL_SEQ,
	   A.PLM_FTM,
	   ( SELECT TTC.CCD_NM FROM TT_COMCD TTC WITH (NOLOCK) WHERE TTC.CCD_CD = A.PLM_FTM ) AS PLM_FTMNM,
	   ( CASE ( SELECT TCR.LOADING_YN FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18C' ) WHEN 'Y' THEN '상차완료' ELSE '상차전' END ) AS LOADING_YN,
	   ( CASE WHEN ( SELECT COUNT(*) 
	                   FROM TC_LOADINGISSUE TCL WITH (NOLOCK) 
	                  WHERE TCL.REM_DT = ( SELECT TCR.REM_DT FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18C' ) 
	                    AND TCL.REM_SEQ = ( SELECT TCR.REM_SEQ FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18C' ) 
	                    AND TCL.COM_SSEC = 'C18C' ) > 0 THEN '상차이슈발생' ELSE '' END ) AS LOADINGISSUE_YN	             		
	FROM TC_PLANMST A WITH (NOLOCK)
	WHERE A.COM_SCD = #{com_scd}	
	AND A.STI_CD = #{sti_cd}	
	AND A.PLM_CDT = #{date}
	
	UNION ALL
	
	SELECT
	'AS'     AS COM_SSEC,
	A.COM_BRAND,
	A.COM_AGSEC,
	( SELECT TCR.ORM_NO FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18A' ) ORM_NO,
	A.PLM_NO AS PLM_NO,
	CASE ( SELECT TCR.REM_CSEC FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18A' ) WHEN 'R' THEN 
	'[재일정]'+A.CTM_NM ELSE A.CTM_NM END AS ORM_NM,
	'' AS 'MICHUL_YN',
	ISNULL(( SELECT COUNT(DISTINCT TD.BMT_ITEM+TD.COL_CD)
	  FROM TA_PLANDTL TD WITH(NOLOCK), TT_BOMMST TB WITH (NOLOCK)
	 WHERE TD.PLM_NO = A.PLM_NO 
	   AND TD.PLD_FQTY <> 0
	   AND TD.BMT_ITEM = TB.BMT_ITEM
	   AND TD.COL_CD = TB.COL_CD
	   AND RIGHT(TB.BMT_NM, 5) NOT LIKE '(미상차)%' ), 0) AS ITM_QTY,
	ISNULL(( SELECT SUM(TD.PLD_FQTY)
	  FROM TA_PLANDTL TD WITH(NOLOCK), TT_BOMMST TB WITH (NOLOCK)
	 WHERE TD.PLM_NO = A.PLM_NO 
	   AND TD.PLD_FQTY <> 0
	   AND TD.BMT_ITEM = TB.BMT_ITEM
	   AND TD.COL_CD = TB.COL_CD
	   AND RIGHT(TB.BMT_NM, 5) NOT LIKE '(미상차)%'
	 ), 0) AS ITM_SUM,
	 '' AS RETURN_YN,
	 ( SELECT CONVERT(INT, TCR.ARRIVAL_SEQ) FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18A' ) AS ARRIVAL_SEQ,
	 A.PLM_FTM,
	 ( SELECT TTC.CCD_NM FROM TT_COMCD TTC WITH (NOLOCK) WHERE TTC.CCD_CD = A.PLM_FTM ) AS PLM_FTMNM,
	 ( CASE ( SELECT TCR.LOADING_YN FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18A' ) WHEN 'Y' THEN '상차완료' ELSE '상차전' END ) AS LOADING_YN,
	 ( CASE WHEN ( SELECT COUNT(*) 
	                 FROM TC_LOADINGISSUE TCL WITH (NOLOCK) 
	                WHERE TCL.REM_DT = ( SELECT TCR.REM_DT FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18A' ) 
	                  AND TCL.REM_SEQ = ( SELECT TCR.REM_SEQ FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18A' ) 
	                  AND TCL.COM_SSEC = 'C18A' ) > 0 THEN '상차이슈발생' ELSE '' END ) AS LOADINGISSUE_YN	             			 	
	FROM TA_PLANMST A WITH (NOLOCK), TA_RPTREQ B WITH (NOLOCK)
	WHERE A.COM_SCD = #{com_scd}
	AND A.STI_CD = #{sti_cd}	
	AND A.PLM_CDT = #{date}
	AND A.RPT_NO = B.RPT_NO
	AND A.RPT_SEQ = B.RPT_SEQ 
	AND A.PLM_CDT = B.RPT_ENDDT	
	AND B.STI_CD = A.STI_CD
	AND (SELECT COUNT(1) FROM TA_PLANDTL TP WHERE TP.PLM_NO = A.PLM_NO ) > 0
	ORDER BY ARRIVAL_SEQ DESC, PLM_FTMNM DESC
]]>
</select>
  
<select id="getLoadingItemList" parameterType="HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPItemOrd">        
<![CDATA[ 
	SELECT
		B.ITM_CD AS ITM_CD,
		B.COL_CD AS COL_CD,
		SUM(B.PLD_FQTY) AS PLD_FQTY,
		ISNULL((SELECT ITM.ITM_NM FROM TT_ITMMST ITM WITH(NOLOCK) WHERE ITM.ITM_CD = B.ITM_CD AND ITM.COL_CD = B.COL_CD), '') AS ITM_NM,
		( CASE WHEN ( SELECT COUNT(*)
		FROM TO_MCITM TM WITH (NOLOCK), TO_ORDDET OD WITH (NOLOCK)
		WHERE TM.ORM_NO = A.ORM_NO
		AND TM.ORM_NO = OD.ORM_NO
		AND TM.ORD_ISEQ = OD.ORD_ISEQ
		AND TM.ORD_SSEQ = OD.ORD_SSEQ ) > 0 THEN 'Y' ELSE '' END ) AS 'MICHUL_YN',
		ISNULL((SELECT SUM(WT.WTP_PLANQTY) FROM TW_WTRECPL WT WITH(NOLOCK) WHERE WT.ORM_NO = A.ORM_NO AND WT.ITM_CD = B.ITM_CD AND WT.COL_CD = B.COL_CD), 0) AS RETURN_QTY,
		B.ITM_CD + '-' + B.COL_CD AS 'ITEM_COL',
		( CASE WHEN B.BMT_SGRADE = 'Y' THEN 'Y' ELSE 'N' END ) AS DELAY_YN
	FROM TC_PLANMST A WITH (NOLOCK), TC_PLANDTL B WITH (NOLOCK)
	WHERE A.COM_SCD = #{com_scd}
	AND A.STI_CD = #{sti_cd}
	AND A.PLM_CDT = #{date}
	AND A.PLM_NO = B.PLM_NO
	AND B.COM_PLDSEC IN ('C092', 'C090')
	AND B.PLD_FQTY <> 0
	AND (B.ITM_CD NOT LIKE 'EXTRA%' AND B.ITM_CD NOT LIKE 'ZERO%')
	AND (B.ITM_CD NOT IN ('HW00E15EE', 'HW00E24EE', 'HW00E25EE', 'HW01E15EE', 'HW01E24EE', 'HW01E25EE', 'C37', 'X1', 'AS-1A-000'))
	GROUP BY B.ITM_CD, B.COL_CD, A.ORM_NO, B.BMT_SGRADE
	
	UNION ALL
	
	SELECT
		B.BMT_ITEM AS ITM_CD,
		B.COL_CD AS COL_CD,
		SUM(B.PLD_FQTY) AS PLD_FQTY,
		ISNULL((SELECT BTM.BMT_NM FROM TT_BOMMST BTM WITH (NOLOCK) WHERE BTM.BMT_ITEM = B.BMT_ITEM AND  BTM.COL_CD = B.COL_CD ), '') AS ITM_NM,
		'' AS 'MICHUL_YN',
		0 AS RETURN_QTY,
		B.BMT_ITEM + '-' + B.COL_CD AS ITEM_COL,
		'N' AS DELAY_YN
	FROM TA_PLANMST A WITH (NOLOCK), TA_PLANDTL B WITH (NOLOCK), TA_RPTREQ C WITH (NOLOCK),  TT_BOMMST D WITH (NOLOCK)	
	WHERE A.COM_SCD = #{com_scd}	
	AND A.STI_CD = #{sti_cd} 
	AND A.PLM_CDT = #{date}
	AND A.PLM_NO = B.PLM_NO
	AND B.PLD_FQTY <> 0
	AND A.RPT_NO = C.RPT_NO
	AND A.RPT_SEQ = C.RPT_SEQ 
	AND A.PLM_CDT = C.RPT_ENDDT	
	AND C.STI_CD = A.STI_CD      
	AND B.BMT_ITEM = D.BMT_ITEM
	AND B.COL_CD = D.COL_CD
	AND RIGHT(D.BMT_NM, 5) NOT LIKE '(미상차)%'
	GROUP BY B.BMT_ITEM , B.COL_CD
]]>
</select>

<update id="updateLoadingInfo" parameterType="HashMap">
<![CDATA[

	UPDATE TC_RESMST SET LOADING_YN = #{loading_yn}, LOADING_TIME = GETDATE()
	 WHERE REM_DT = #{rem_dt}
	   AND REM_SEQ = #{rem_seq}

]]>
</update> 

<select id="selectTcresmstInfo" parameterType="HashMap" resultType="com.fursys.mobilecm.vo.DataResult">        
<![CDATA[
	SELECT ISNULL(REM_DT, '') AS DATA1, 
		   ISNULL(REM_SEQ, '') AS DATA2,
		   ISNULL(ORM_NO, '') AS DATA3,
		   ISNULL(STI_CD, '') AS DATA4
	FROM TC_RESMST WITH(NOLOCK)	   	   
	 WHERE plm_no = #{plm_no}
	   AND COM_SSEC = #{com_ssec}
]]>
</select>

<select id="selectTcloadingoissueMaxSeqNo" parameterType="HashMap" resultType="com.fursys.mobilecm.vo.DataResult">        
<![CDATA[
		  SELECT
			ISNULL(MAX(SEQ_NO), 0) + 1
		   FROM TC_LOADINGISSUE TCL WITH (NOLOCK)
		  WHERE TCL.REM_DT = #{rem_dt}
		    AND TCL.REM_SEQ = #{rem_seq}
		    AND TCL.COM_SSEC = #{com_ssec} 
]]>
</select>
 
<insert id="insertLoadingIssueInfo" parameterType="HashMap">
<selectKey keyProperty="seq_no" resultType="Integer" order="AFTER"> 
	SELECT MAX(SEQ_NO) FROM TC_LOADINGISSUE WHERE REM_DT = #{rem_dt} AND REM_SEQ = #{rem_seq} AND COM_SSEC = #{com_ssec}
</selectKey>
  
<![CDATA[
	
	INSERT INTO TC_LOADINGISSUE
	(
		REM_DT, 
		REM_SEQ, 
		COM_SSEC, 
		SEQ_NO, 
		ORM_NO, 
		PLM_NO, 
		ITM_CD, 
		COL_CD, 
		LOADINGISSUE_STD, 
		LOADINGISSUE_REMARK, 
		LOADINGISSUE_PROCSTD, 
		LOADINGISSUE_PROCREMARK, 
		FST_USR_CD, 
		FST_SYS_DT, 
		USR_CD, 
		SYS_DT
	)
	VALUES
	(
		#{rem_dt},
		#{rem_seq},
		#{com_ssec},
		(SELECT
			ISNULL(MAX(SEQ_NO), 0) + 1
		   FROM TC_LOADINGISSUE TCL WITH (NOLOCK)
		  WHERE TCL.REM_DT = #{rem_dt}
		    AND TCL.REM_SEQ = #{rem_seq}
		    AND TCL.COM_SSEC = #{com_ssec} ),
		#{orm_no},
		#{plm_no},
		#{itm_cd},
		#{col_cd},
		#{loadingissue_std},
		#{loadingissue_remark},
		#{loadingissue_procstd},
		#{loadingissue_procremark},
		#{sti_cd},
		GETDATE(),
		#{sti_cd},
		GETDATE()
	)
	

]]>
</insert> 

<update id="updateLoadingIssueInfo" parameterType="HashMap">
<![CDATA[

	UPDATE TC_LOADINGISSUE
	   SET LOADINGISSUE_STD = #{loadingissue_std},
	       LOADINGISSUE_REMARK = #{loadingissue_remark},
	       SYS_DT = GETDATE(),
	       USR_CD = #{sti_cd}
	 WHERE REM_DT = #{rem_dt}
	   AND REM_SEQ = #{rem_seq}
	   AND COM_SSEC = #{com_ssec}
	   AND SEQ_NO = #{seq_no}

]]>
</update> 

<select id="getLoadingitemOrmSummaryList" parameterType="HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPItemOrdSummary">         
<![CDATA[ 
	SELECT
	DISTINCT 
	CASE ( SELECT TCR.REM_CSEC FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18C' ) WHEN 'R' THEN 
	'[재일정]'+A.ORM_NM ELSE A.ORM_NM END AS ORM_NM,
	A.ORM_GADDR AS ORM_GADDR,
	( SELECT TTC.CCD_NM FROM TT_COMCD TTC WITH (NOLOCK) WHERE TTC.CCD_CD = A.PLM_FTM ) AS PLM_FTMNM,
	( CASE ( SELECT TCR.LOADING_YN FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18C' ) WHEN 'Y' THEN '상차완료' ELSE '상차전' END ) AS LOADING_YN,
	( CASE WHEN ( SELECT COUNT(*) 
	                   FROM TC_LOADINGISSUE TCL WITH (NOLOCK) 
	                  WHERE TCL.REM_DT = ( SELECT TCR.REM_DT FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18C' ) 
	                    AND TCL.REM_SEQ = ( SELECT TCR.REM_SEQ FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18C' ) 
	                    AND TCL.COM_SSEC = 'C18C' ) > 0 THEN '상차이슈발생' ELSE '' END ) AS LOADINGISSUE_YN	             		
	FROM TC_PLANMST A WITH (NOLOCK), TC_PLANDTL TCP WITH (NOLOCK)
	WHERE A.COM_SCD = #{com_scd}	
	AND A.STI_CD = #{sti_cd}
	AND A.PLM_CDT = #{date}
	AND A.PLM_NO = TCP.PLM_NO
	AND TCP.ITM_CD + '-' + TCP.COL_CD = #{itmcd_col}
	AND TCP.PLD_EQTY <> 0
	
	UNION ALL
	
	SELECT
	DISTINCT
	CASE ( SELECT TCR.REM_CSEC FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18A' ) WHEN 'R' THEN 
	'[재일정]'+A.CTM_NM ELSE A.CTM_NM END AS ORM_NM,
	A.CTM_ADDR AS ORM_GADDR,
	 ( SELECT TTC.CCD_NM FROM TT_COMCD TTC WITH (NOLOCK) WHERE TTC.CCD_CD = A.PLM_FTM ) AS PLM_FTMNM,
	 ( CASE ( SELECT TCR.LOADING_YN FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18A' ) WHEN 'Y' THEN '상차완료' ELSE '상차전' END ) AS LOADING_YN,
	 ( CASE WHEN ( SELECT COUNT(*) 
	                 FROM TC_LOADINGISSUE TCL WITH (NOLOCK) 
	                WHERE TCL.REM_DT = ( SELECT TCR.REM_DT FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18A' ) 
	                  AND TCL.REM_SEQ = ( SELECT TCR.REM_SEQ FROM TC_RESMST TCR WITH (NOLOCK) WHERE TCR.PLM_NO = A.PLM_NO AND TCR.COM_SSEC = 'C18A' ) 
	                  AND TCL.COM_SSEC = 'C18C' ) > 0 THEN '상차이슈발생' ELSE '' END ) AS LOADINGISSUE_YN	             			 	
	FROM TA_PLANMST A WITH (NOLOCK), TA_RPTREQ B WITH (NOLOCK), TA_PLANDTL TAP WITH (NOLOCK)
	WHERE A.COM_SCD = #{com_scd}
	AND A.STI_CD = #{sti_cd}
	AND A.PLM_CDT = #{date}
	AND A.RPT_NO = B.RPT_NO
	AND A.RPT_SEQ = B.RPT_SEQ 
	AND A.PLM_CDT = B.RPT_ENDDT	
	AND B.STI_CD = A.STI_CD
	AND A.PLM_NO = TAP.PLM_NO
	AND TAP.BMT_ITEM + '-' + TAP.COL_CD = #{itmcd_col}
	AND TAP.PLD_EQTY <> 0
]]>
</select> 

</mapper>