<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fursys.mobilecm.mapper.LoadingOrmDtlMapper">
      
<select id="getLoadingOrmDtlList" parameterType="HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPItemOrd">      
<![CDATA[ 
  
	SELECT A.SET_CD, A.ITM_CD, A.COL_CD, A.PLD_FQTY, A.ITM_NM, A.MICHUL_YN, A.RETURN_QTY, A.ITEM_COL, A.DELAY_YN,
	       ISNULL(A.REM_DT, '') REM_DT, ISNULL(A.REM_SEQ, '') REM_SEQ, ISNULL(A.COM_SSEC, '') COM_SSEC, ISNULL(A.SEQ_NO, 0) SEQ_NO, ISNULL(A.LOADINGISSUE_STD, '') LOADINGISSUE_STD,
	       ISNULL((SELECT Z.CCD_NM FROM TT_COMCD Z WITH (NOLOCK) WHERE Z.CDX_CD = 'C88' AND Z.CCD_CD = A.LOADINGISSUE_STD), '') AS LOADINGISSUE_STD_NM, ISNULL(A.LOADINGISSUE_PROCSTD, '') LOADINGISSUE_PROCSTD,
		   (SELECT CCD_NAME FROM TT_COMCD WHERE CCD_CD = DELAY_REASON) AS DELAY_REASON, ISNULL(A.DELAY_QTY, 0) AS DELAY_QTY, A.DELAY_RMK
		 FROM (
	   SELECT	        
			ISNULL(B.SET_CD, B.ITM_CD) AS SET_CD,
			B.ITM_CD AS ITM_CD,
			B.COL_CD AS COL_CD,
			SUM(B.PLD_FQTY) AS PLD_FQTY,
			(SELECT ITM.ITM_NM FROM TT_ITMMST ITM  WITH (NOLOCK)  WHERE ITM.ITM_CD = B.ITM_CD AND ITM.COL_CD = B.COL_CD ) AS ITM_NM,
			( CASE WHEN ( SELECT COUNT(*)
			FROM TO_MCITM TM WITH (NOLOCK), TO_ORDDET OD WITH (NOLOCK)
			WHERE TM.ORM_NO = A.ORM_NO
			AND TM.ORM_NO = OD.ORM_NO
			AND TM.ORD_ISEQ = OD.ORD_ISEQ
			AND TM.ORD_SSEQ = OD.ORD_SSEQ ) > 0 THEN 'Y' ELSE '' END ) AS 'MICHUL_YN',
			ISNULL((SELECT SUM(WT.WTP_PLANQTY) FROM TW_WTRECPL WT WITH(NOLOCK) WHERE WT.ORM_NO = A.ORM_NO AND WT.ITM_CD = B.ITM_CD AND WT.COL_CD = B.COL_CD), 0) AS RETURN_QTY,
			ISNULL(B.SET_CD, B.ITM_CD) + '-' + B.ITM_CD + '-' + B.COL_CD AS 'ITEM_COL',
			( CASE WHEN B.BMT_SGRADE = 'Y' THEN 'Y' ELSE 'N' END ) AS DELAY_YN,
			C.REM_DT, C.REM_SEQ, C.COM_SSEC, C.SEQ_NO, C.LOADINGISSUE_STD AS LOADINGISSUE_STD, C.LOADINGISSUE_PROCSTD AS LOADINGISSUE_PROCSTD,
			B.DELAY_REASON, B.DELAY_QTY, B.DELAY_RMK
		FROM TC_PLANMST A WITH (NOLOCK), TC_PLANDTL B WITH (NOLOCK) LEFT OUTER JOIN TC_LOADINGISSUE C WITH(NOLOCK) ON C.PLM_NO = B.PLM_NO AND C.ITM_CD = B.ITM_CD AND C.COL_CD = B.COL_CD
		WHERE  A.PLM_NO = #{plm_no} 
		AND A.PLM_NO = B.PLM_NO
		AND B.COM_PLDSEC IN ('C092', 'C090', 'C09A')
		AND ( B.ITM_CD NOT LIKE 'EXTRA%' AND B.ITM_CD NOT LIKE 'ZERO%' )
		AND ( B.ITM_CD NOT IN ('HW00E15EE', 'HW00E24EE', 'HW00E25EE', 'HW01E15EE', 'HW01E24EE', 'HW01E25EE', 'C37', 'X1', 'AS-1A-000'))
	    AND B.PLD_FQTY <> 0
		GROUP BY B.SET_CD, B.ITM_CD, B.COL_CD, A.ORM_NO, B.BMT_SGRADE, C.REM_DT, C.REM_SEQ, C.COM_SSEC, C.SEQ_NO, C.LOADINGISSUE_STD, C.LOADINGISSUE_PROCSTD, B.DELAY_REASON, B.DELAY_QTY, B.DELAY_RMK
		) A
		ORDER BY A.SET_CD
	   
]]>
</select>
    
<select id="getLoadingAsDtlList" parameterType="HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPItemOrd">    
<![CDATA[   

	SELECT A.SET_CD, A.ITM_CD, A.COL_CD, A.PLD_FQTY, A.ITM_NM, A.MICHUL_YN, A.RETURN_QTY, A.ITEM_COL, A.DELAY_YN, A.INPBIT,
    	   ISNULL(A.REM_DT, '') REM_DT, ISNULL(A.REM_SEQ, '') REM_SEQ, ISNULL(A.COM_SSEC, '') COM_SSEC, ISNULL(A.SEQ_NO, 0) SEQ_NO, ISNULL(A.LOADINGISSUE_STD, '') LOADINGISSUE_STD,
    	   ISNULL((SELECT Z.CCD_NM FROM TT_COMCD Z WITH (NOLOCK) WHERE Z.CDX_CD = 'C88' AND Z.CCD_CD = A.LOADINGISSUE_STD), '') AS LOADINGISSUE_STD_NM, ISNULL(A.LOADINGISSUE_PROCSTD, '') LOADINGISSUE_PROCSTD
	FROM (
		SELECT
			B.BMT_ITEM AS SET_CD,
			B.BMT_ITEM AS ITM_CD,
			B.COL_CD AS COL_CD,
			SUM(B.PLD_FQTY) AS PLD_FQTY,
			ISNULL((SELECT BTM.BMT_NM FROM TT_BOMMST BTM WITH (NOLOCK) WHERE BTM.BMT_ITEM = B.BMT_ITEM AND  BTM.COL_CD = B.COL_CD ), '') AS ITM_NM,
			'' AS 'MICHUL_YN',
			0 AS RETURN_QTY,
			B.BMT_ITEM + '-' + B.BMT_ITEM + '-' + B.COL_CD AS 'ITEM_COL',
			'N' AS DELAY_YN,
			(SELECT CASE C.INPBIT WHEN '0' THEN '접수등록' WHEN '1' THEN '발주요청' WHEN '2' THEN '발주확정' WHEN '3' THEN '입고일확정' WHEN '4' THEN '입고완료' WHEN '5' THEN '반출완료' WHEN '6' THEN '반입완료' WHEN '7' THEN '출고완료' WHEN '8' THEN '반품완료' WHEN 'P' THEN '제품' WHEN 'O' THEN '출고예약' WHEN 'I' THEN '입고예약' WHEN 'B' THEN '반입예약' WHEN 'D' THEN '발주예약' ELSE C.INPBIT END FROM TA_ASTITEM C WITH (NOLOCK) WHERE C.RPT_NO = A.RPT_NO AND C.RPT_SEQ = A.RPT_SEQ AND C.BMT_ITEM = B.BMT_ITEM AND C.COL_CD = B.COL_CD) AS INPBIT,
			D.REM_DT, D.REM_SEQ, D.COM_SSEC, D.SEQ_NO, D.LOADINGISSUE_STD, D.LOADINGISSUE_PROCSTD
		FROM TA_PLANMST A WITH (NOLOCK), TA_PLANDTL B WITH (NOLOCK)  LEFT OUTER JOIN TC_LOADINGISSUE D WITH(NOLOCK) ON D.PLM_NO = B.PLM_NO AND D.ITM_CD = B.BMT_ITEM AND D.COL_CD = B.COL_CD, TT_BOMMST C WITH (NOLOCK) 
		WHERE A.PLM_NO = #{plm_no}
		  AND A.PLM_NO = B.PLM_NO
		  AND B.PLD_FQTY <> 0
		  AND B.BMT_ITEM = C.BMT_ITEM
		  AND B.COL_CD = C.COL_CD
		  AND RIGHT(C.BMT_NM, 5) NOT LIKE '(미상차)%'
		  GROUP BY A.RPT_NO, A.RPT_SEQ, B.BMT_ITEM, B.COL_CD, D.REM_DT, D.REM_SEQ, D.COM_SSEC, D.SEQ_NO, D.LOADINGISSUE_STD, D.LOADINGISSUE_PROCSTD
		  ) A
	ORDER BY A.SET_CD
 	   
]]>
</select>

<select id="getLoadingOrmDtlList_" parameterType="HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPItemOrd">      
<![CDATA[  
	SELECT
		ISNULL(B.SET_CD, B.ITM_CD) AS SET_CD,
		B.ITM_CD AS ITM_CD,
		B.COL_CD AS COL_CD,
		SUM(B.PLD_FQTY) AS PLD_FQTY,
		(SELECT ITM.ITM_NM FROM TT_ITMMST ITM  WITH (NOLOCK)  WHERE ITM.ITM_CD = B.ITM_CD AND ITM.COL_CD = B.COL_CD ) AS ITM_NM,
		( CASE WHEN ( SELECT COUNT(*)
		FROM TO_MCITM TM WITH (NOLOCK), TO_ORDDET OD WITH (NOLOCK)
		WHERE TM.ORM_NO = A.ORM_NO
		AND TM.ORM_NO = OD.ORM_NO
		AND TM.ORD_ISEQ = OD.ORD_ISEQ
		AND TM.ORD_SSEQ = OD.ORD_SSEQ ) > 0 THEN 'Y' ELSE '' END ) AS 'MICHUL_YN',
		ISNULL((SELECT SUM(WT.WTP_PLANQTY) FROM TW_WTRECPL WT WITH(NOLOCK) WHERE WT.ORM_NO = A.ORM_NO AND WT.ITM_CD = B.ITM_CD AND WT.COL_CD = B.COL_CD), 0) AS RETURN_QTY,
		ISNULL(B.SET_CD, B.ITM_CD) + '-' + B.ITM_CD + '-' + B.COL_CD AS 'ITEM_COL',
		( CASE WHEN B.BMT_SGRADE = 'Y' THEN 'Y' ELSE 'N' END ) AS DELAY_YN
	FROM TC_PLANMST A WITH (NOLOCK), TC_PLANDTL B WITH (NOLOCK)
	WHERE  A.PLM_NO = #{plm_no}
	AND A.PLM_NO = B.PLM_NO
	AND B.COM_PLDSEC IN ('C092', 'C090', 'C09A')
	AND ( B.ITM_CD NOT LIKE 'EXTRA%' AND B.ITM_CD NOT LIKE 'ZERO%' )
	AND ( B.ITM_CD NOT IN ('HW00E15EE', 'HW00E24EE', 'HW00E25EE', 'HW01E15EE', 'HW01E24EE', 'HW01E25EE', 'C37', 'X1', 'AS-1A-000'))
    AND B.PLD_FQTY <> 0
	GROUP BY B.SET_CD, B.ITM_CD, B.COL_CD, A.ORM_NO, B.BMT_SGRADE
	ORDER BY B.SET_CD    
]]>
</select>

<select id="getLoadingAsDtlList_" parameterType="HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPItemOrd">    
<![CDATA[      
	SELECT
		B.BMT_ITEM AS SET_CD,
		B.BMT_ITEM AS ITM_CD,
		B.COL_CD AS COL_CD,
		SUM(B.PLD_FQTY) AS PLD_FQTY,
		ISNULL((SELECT BTM.BMT_NM FROM TT_BOMMST BTM WITH (NOLOCK) WHERE BTM.BMT_ITEM = B.BMT_ITEM AND  BTM.COL_CD = B.COL_CD ), '') AS ITM_NM,
		'' AS 'MICHUL_YN',
		0 AS RETURN_QTY,
		B.BMT_ITEM + '-' + B.BMT_ITEM + '-' + B.COL_CD AS 'ITEM_COL',
		'N' AS DELAY_YN,
		(SELECT CASE C.INPBIT WHEN '0' THEN '접수등록' WHEN '1' THEN '발주요청' WHEN '2' THEN '발주확정' WHEN '3' THEN '입고일확정' WHEN '4' THEN '입고완료' WHEN '5' THEN '반출완료' WHEN '6' THEN '반입완료' WHEN '7' THEN '출고완료' WHEN '8' THEN '반품완료' WHEN 'P' THEN '제품' WHEN 'O' THEN '출고예약' WHEN 'I' THEN '입고예약' WHEN 'B' THEN '반입예약' WHEN 'D' THEN '발주예약' ELSE C.INPBIT END FROM TA_ASTITEM C WITH (NOLOCK) WHERE C.RPT_NO = A.RPT_NO AND C.RPT_SEQ = A.RPT_SEQ AND C.BMT_ITEM = B.BMT_ITEM AND C.COL_CD = B.COL_CD) AS INPBIT
	FROM TA_PLANMST A WITH (NOLOCK), TA_PLANDTL B WITH (NOLOCK), TT_BOMMST C WITH (NOLOCK)
	WHERE A.PLM_NO = #{plm_no}
	  AND A.PLM_NO = B.PLM_NO
	  AND B.PLD_FQTY <> 0
	  AND B.BMT_ITEM = C.BMT_ITEM
	  AND B.COL_CD = C.COL_CD
	  AND RIGHT(C.BMT_NM, 5) NOT LIKE '(미상차)%'
	  GROUP BY A.RPT_NO, A.RPT_SEQ, B.BMT_ITEM, B.COL_CD
	  ORDER BY B.BMT_ITEM
]]>
</select>

</mapper>