<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fursys.mobilecm.mapper.StiSituationManageMapper">


<select id="selectSigongAverageCount" parameterType="HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPStiSituationCount">        
<![CDATA[ 
	SELECT
			SUM(AA.TOTAL_CNT) AS TOTAL_CNT,
			SUM(AA.FINISH_CNT) AS FINISH_CNT,
			SUM(AA.TOTAL_CNT) - SUM(AA.FINISH_CNT) AS NOTFINISH_CNT
	  FROM ( 
			SELECT
				A.COM_SCD AS COM_SCD,
				A.REM_DT AS REM_DT,
				TCS.K_STI_CD,
				COUNT(*) AS TOTAL_CNT,
				0 AS FINISH_CNT,
				0 AS NOTFNINISH_CNT
			FROM TC_RESMST A WITH (NOLOCK), TC_STINF TCS WITH (NOLOCK), TC_PLANMST TCP WITH (NOLOCK)
			WHERE A.COM_SCD = #{com_scd}
			  AND TCS.COM_SCD = A.COM_SCD
			  AND A.STI_CD = TCS.STI_CD
			  AND TCS.K_STI_CD = #{k_sti_cd}
			  AND A.REM_DT = #{rem_dt}
			  AND A.PLM_NO = TCP.PLM_NO
			GROUP BY A.COM_SCD, A.REM_DT, TCS.K_STI_CD
	
			UNION ALL
	
			SELECT
				A.COM_SCD AS COM_SCD,
				A.REM_DT AS REM_DT,
				TCS.K_STI_CD,
				0 AS TOTAL_CNT,
				COUNT(*) AS FINISH_CNT,
				0 AS NOTFNINISH_CNT
			FROM TC_RESMST A WITH (NOLOCK), TC_STINF TCS WITH (NOLOCK), TC_PLANMST TCP WITH (NOLOCK)
			WHERE A.COM_SCD = #{com_scd}
			  AND TCS.COM_SCD = A.COM_SCD
			  AND A.STI_CD = TCS.STI_CD
			  AND TCS.K_STI_CD = #{k_sti_cd}
			  AND A.REM_DT = #{rem_dt}
			  AND A.PLM_NO = TCP.PLM_NO
			  AND ( TCP.MOB_STARTYN = 'Y' AND TCP.MOB_ENDYN = 'Y' )
			GROUP BY A.COM_SCD, A.REM_DT, TCS.K_STI_CD
	
			UNION ALL
	
			SELECT
				A.COM_SCD AS COM_SCD,
				A.REM_DT AS REM_DT,
				TCS.K_STI_CD,
				0 AS TOTAL_CNT,
				COUNT(*) AS FINISH_CNT,
				0 AS NOTFNINISH_CNT
			FROM TC_RESMST A WITH (NOLOCK), TC_STINF TCS WITH (NOLOCK), TA_PLANMST TCP WITH (NOLOCK)
			WHERE A.COM_SCD = #{com_scd}
			  AND TCS.COM_SCD = A.COM_SCD
			  AND A.STI_CD = TCS.STI_CD
			  AND TCS.K_STI_CD = #{k_sti_cd}
			  AND A.REM_DT = #{rem_dt}
			  AND A.PLM_NO = TCP.PLM_NO
			  AND ( TCP.MOB_STARTYN = 'Y' AND TCP.MOB_ENDYN = 'Y' )
			GROUP BY A.COM_SCD, A.REM_DT, TCS.K_STI_CD
		) AA 	
]]>
</select>


<select id="selectStiSituationInfoList" parameterType="HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPStiSituationInfoList">        
<![CDATA[ 

	SELECT
		AA.COM_SCD AS COM_SCD,
		AA.PLM_CDT AS PLM_CDT,
		AA.STI_CD AS STI_CD,
		AA.STI_NM AS STI_NM,
		SUM(AA.TOTAL_CNT) AS TOTAL_CNT,
		SUM(AA.FINISH_CNT) AS FINISH_CNT,
		SUM(AA.TOTAL_CNT) - SUM(AA.FINISH_CNT) AS NOTFINISH_CNT, 
		( CASE WHEN ( SELECT COUNT(*) 
						FROM TC_RESMST TCR WITH (NOLOCK)
					   WHERE TCR.REM_DT = AA.PLM_CDT  
						 AND TCR.STI_CD = AA.STI_CD
						 AND TCR.REM_FTM NOT LIKE 'C70%' ) > 0 THEN '미등록' ELSE '등록' END )AS ARRIVALTM_YN,
		( CASE WHEN ( SELECT COUNT(*) 
						FROM TC_RESMST TCR WITH (NOLOCK)
					   WHERE TCR.REM_DT = AA.PLM_CDT  
						 AND TCR.STI_CD = AA.STI_CD
						 AND (TCR.ARRIVALTM_SENDYN = 'N' OR ISNULL(TCR.ARRIVALTM_SENDYN, '') = '') ) > 0 THEN '미안내' ELSE '안내' END )AS ARRIVALTM_SENDYN,
		(SELECT ISNULL(TCM.STM_HP, '미등록') FROM TC_STMEMBER TCM WITH (NOLOCK) WHERE TCM.STI_CD = AA.STI_CD AND TCM.COM_SCD = AA.COM_SCD AND TCM.STM_NO = '01' ) AS STM_HP
	FROM (
		SELECT
			TCP.COM_SCD AS COM_SCD,
			TCP.PLM_CDT AS PLM_CDT,
			TCP.STI_CD AS STI_CD,
			TCS.STI_NM AS STI_NM,
			COUNT(*) AS TOTAL_CNT,
			0 AS FINISH_CNT,
			0 AS NOTFINISH_CNT
		  FROM TC_PLANMST TCP WITH (NOLOCK), TC_STINF TCS WITH (NOLOCK)
		 WHERE TCP.STI_CD = TCS.STI_CD
		   AND TCS.K_STI_CD = #{k_sti_cd}
		   AND TCP.COM_SCD = #{com_scd}
		   AND TCP.PLM_CDT = #{plm_cdt}
		 GROUP BY TCP.COM_SCD, TCP.PLM_CDT, TCP.STI_CD, TCS.STI_NM
	
		 UNION ALL
	
		 SELECT
		 	TCP.COM_SCD AS COM_SCD,
			TCP.PLM_CDT AS PLM_CDT,
			TCP.STI_CD AS STI_CD,
			TCS.STI_NM AS STI_NM,
			0 AS TOTAL_CNT,
			COUNT(*) AS FINISH_CNT,
			0 AS NOTFINISH_CNT
		  FROM TC_PLANMST TCP WITH (NOLOCK), TC_STINF TCS WITH (NOLOCK)
		 WHERE TCP.STI_CD = TCS.STI_CD
		   AND TCS.K_STI_CD = #{k_sti_cd}
		   AND TCP.COM_SCD = #{com_scd}
		   AND TCP.PLM_CDT = #{plm_cdt}
		   AND ( TCP.MOB_STARTYN = 'Y' AND TCP.MOB_ENDYN = 'Y' )
		 GROUP BY TCP.COM_SCD, TCP.PLM_CDT, TCP.STI_CD, TCS.STI_NM
	
	 
		 UNION ALL
	
		 SELECT
		 	TCP.COM_SCD AS COM_SCD,
			TCP.PLM_CDT AS PLM_CDT,
			TCP.STI_CD AS STI_CD,
			TCS.STI_NM AS STI_NM,
			0 AS TOTAL_CNT,
			COUNT(*) AS FINISH_CNT,
			0 AS NOTFINISH_CNT
		  FROM TA_PLANMST TCP WITH (NOLOCK), TC_STINF TCS WITH (NOLOCK)
		 WHERE TCP.STI_CD = TCS.STI_CD
		   AND TCS.K_STI_CD = #{k_sti_cd}
		   AND TCP.COM_SCD = #{com_scd}
		   AND TCP.PLM_CDT = #{plm_cdt}
		   AND ( TCP.MOB_STARTYN = 'Y' AND TCP.MOB_ENDYN = 'Y' )
		 GROUP BY TCP.COM_SCD, TCP.PLM_CDT, TCP.STI_CD, TCS.STI_NM
	
		 ) AA
	
	GROUP BY AA.COM_SCD, AA.PLM_CDT, AA.STI_CD, AA.STI_NM
]]>
</select>


<select id="selectStiPlanSituationInfoList" parameterType="HashMap" resultType="com.fursys.mobilecm.vo.erp.ERPStiPlanSituationList">        
<![CDATA[ 

	SELECT
		ISNULL(CONVERT(CHAR(16), TCP.MOB_STARTTM, 120), '시작전') AS MOB_STARTTM,
		ISNULL(CONVERT(varchar(16), TCP.MOB_ENDTM, 120), '종료전') AS MOB_ENDTM,
		ISNULL(DATEDIFF(MI,TCP.MOB_STARTTM, TCP.MOB_ENDTM), '' ) AS WORK_TIME,
		TCR.ORM_NM AS ORM_NM,
		CASE WHEN TCP.MOB_ENDYN = 'Y' THEN '완료' ELSE '미완료' END MOB_STATUS,
		CASE WHEN TCR.REM_FTM NOT LIKE 'C70%' THEN '미등록' ELSE '등록' END AS ARRIVALTM_YN, 
		CASE WHEN TCR.ARRIVALTM_SENDYN = 'N' OR ISNULL(TCR.ARRIVALTM_SENDYN, '') = '' THEN '미안내' ELSE '안내' END AS ARRIVALTM_SENDYN
		 
	  FROM TC_RESMST TCR WITH (NOLOCK), TC_PLANMST TCP WITH (NOLOCK)
	 WHERE TCR.COM_SCD = #{com_scd}
	   AND TCR.STI_CD = #{sti_cd}
	   AND TCR.REM_DT = #{rem_dt}
	   AND TCR.PLM_NO = TCP.PLM_NO
	
	UNION ALL
	
	SELECT
		ISNULL(CONVERT(CHAR(16), TCP.MOB_STARTTM, 120), '시작전') AS MOB_STARTTM,
		ISNULL(CONVERT(varchar(16), TCP.MOB_ENDTM, 120), '종료전') AS MOB_ENDTM,
		ISNULL(DATEDIFF(HH,TCP.MOB_STARTTM, TCP.MOB_ENDTM), '' ) AS WORK_TIME,
		TCR.ORM_NM AS ORM_NM,
		CASE WHEN TCP.MOB_ENDYN = 'Y' THEN '완료' ELSE '미완료' END MOB_STATUS,
		CASE WHEN TCR.REM_FTM NOT LIKE 'C70%' THEN '미등록' ELSE '등록' END AS ARRIVALTM_YN, 
		CASE WHEN TCR.ARRIVALTM_SENDYN = 'N' OR ISNULL(TCR.ARRIVALTM_SENDYN, '') = '' THEN '미안내' ELSE '안내' END AS ARRIVALTM_SENDYN
	  FROM TC_RESMST TCR WITH (NOLOCK), TA_PLANMST TCP WITH (NOLOCK)
	 WHERE TCR.COM_SCD = #{com_scd}
	   AND TCR.STI_CD = #{sti_cd}
	   AND TCR.REM_DT = #{rem_dt}
	   AND TCR.PLM_NO = TCP.PLM_NO
]]>
</select>

</mapper>