<aside class="fssMblCmPop _cnter inFilePop" th:fragment="fileList_popup">
      <article class="popCntnts smll">
           <h2 class="ttl">
                파일리스트
           </h2>
           <menu class="fileLst" id="getAttachFileList">
                <!--<li>
                     <a href="" class="bfafNn icnDown">202145155412325841227522.JPG</a>
                </li>-->
           </menu>
           <div class="btnBx">
                <button class="clsBtn btn btnSzHrf lft btnGry h54px">닫기</button>
           </div>
      </article>
     <button class="clsBtn bgBlck"><!--배경닫기--></button>
</aside>
