<aside class="popPage fssMblCmPop migyeolInfo" th:fragment="migyeolnfo">
     <section class="migyeolInfLstBx popCntnts">
                 <h2 class="ttl">미결 정보</h2>
                 <button class="clsBtn icnCls_blck"></button>
                 <button class="clsBtn popSldBTn _lft"></button>
          <div class="inSrchFtNonBx">
              <article class="hHrfBx _top">
                    <h2 class="popSmllTtl">시공/AS 정보</h2>
                    <div class="scrll _inTtl" id="getMigyeolInf">
                         <ul class="ulLftlst _index">
                              <li class="w150px">시공팀</li>
                              <li class="w100px">시공/AS 구분</li>
                              <li class="w110px">예약일</li>
                              <li class="w100px">브랜드</li>
                              <li class="w150px">대리점명</li>
                              <li class="w200px">건명/고객명</li>
                              <li class="w150px">수주번호/접수번호</li>
                              <li class="w80px tAlgnCntr">연기</li>
                              <li class="w80px tAlgnCntr">AS</li>
                              <li class="w80px tAlgnCntr">반품</li>
                              <li class="w100px tAlgnCntr">내부부적합</li>
                              <li class="w80px tAlgnCntr">파일</li>
                              <li class="w300px">MOB비고</li>
                         </ul>
                         <!--나중에 주석처리할 부분
                         <ul class='ulLftlst _inmigyeolInf'>
                              <li class="w150px">IA신민혁팀</li>
                              <li class="w100px">시공</li>
                              <li class="w110px">2021-10-14</li>
                              <li class="w100px">브랜드</li>
                              <li class="w150px">가산 OPC</li>
                              <li class="w200px">경북공고</li>
                              <li class="w150px">I20210101000101</li>
                              <li class="w80px tAlgnCntr">N</li>
                              <li class="w80px tAlgnCntr">Y</li>
                              <li class="w80px tAlgnCntr">N</li>
                              <li class="w100px tAlgnCntr">Y</li>
                              <li class="w80px tAlgnCntr">
                                   <button class="inFileBtn">Y</button>
                              </li>
                              <li class="w300px">17일 고객연기</li>
                         </ul>-->
                         <!--나중에 주석처리할 부분-->
                    </div>
              </article>
              <article class="hHrfBx _bttm">
                    <h2 class="popSmllTtl">상세정보</h2>
                    <div class="scrll _inTtl" id="getMglSubInf">
                         <ul class="ulLftlst _index">
                              <li class="w60px">번호</li>
                              <li class="w150px">시공의뢰구분</li>
                              <li class="w150px">단품코드</li>
                              <li class="w150px">단품컬러</li>
                              <li class="w250px">단품명칭</li>
                              <li class="w100px tAlgnCntr">수량</li>
                              <li class="w150px tAlgnRght">공장도가</li>
                              <li class="w150px">미결사유</li>
                              <li class="w300px">비고</li>
                         </ul>
                         <!--나중에 주석처리할 부분
                         <ul class='ulLftlst'>
                              <li class="w60px">999</li>
                              <li class="w150px">정상시공</li>
                              <li class="w150px">FAD0001</li>
                              <li class="w150px">WW</li>
                              <li class="w250px">코너형 리딩하우스 커튼봉</li>
                              <li class="w100px tAlgnCntr">
                                   <span class="numTxt"></span>
                                   <input type='text' name='' value='11' class='innmbr nmCmma w100p'>
                              </li>
                              <li class="w150px tAlgnRght">
                                   <span class="numTxt"></span>
                                   <input type='text' name='' value='45,000' class='innmbr nmCmma w100p'>
                              </li>
                              <li class="w150px">상차전반품</li>
                              <li class="w300px">비고 내용이 들어갑니다.</li>
                         </ul>-->
                         <!--나중에 주석처리할 부분-->
                    </div>
              </article>
          </div>
     </section>
</aside>
