<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>모바일CM-권역장스케쥴링</title>
    <link rel="stylesheet" type="text/css" href="/css/common_MblCm.css" />
    <link rel="stylesheet" href="http://static.fursys.com/drctSources/css/fonts/font-NotoSansKR.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script><!-- 달력 -->
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
<!--     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <script src="/js/jquery.touchSwipe.min.js"></script>
    <script src="/js/mbCM-frontEvnt.js"></script><!-- 프론트엔드 이벤 -->
    <script src="/js/mbCM-frontApiActnReal.js"></script><!-- 프론트엔드 이벤 -->
    <!-- <script src="/js/mbCM-frontApiActnReal_front.js"></script>프론트엔드 이벤 -->
</head>

<body>
     <section class="defectInfo innmldate">
          <div class="subPgTopBx">
               <button class="icnBtn icnTopMenuOpn">메뉴</button>
               <aside class="fssMblCmPop topMenuPopBox">
                    <menu class="topMenuPopLst">
                         <li>
                            <a class="lstLnk" href="/v1/areamaster/scheduling">시공 스케줄링</a>
                         </li>
                         <li>
                            <a class="lstLnk" href="/v1/areamaster/migyeolReport">미결 현황 관리</a>
                         </li>
                         <li>
                            <a class="lstLnk" href="/v1/areamaster/vndBanpumStatus">대리점 반품 의뢰</a>
                         </li>
                         <li>
                            <a class="lstLnk" href="/v1/areamaster/defectInfo">하자 내역 조회</a>
                         </li>
					     <li>
					        <a class="lstLnk" href="/v1/areamaster/stimember">시공팀원관리</a>
					     </li>
                         <li>
				        <a class="lstLnk" href="/v1/areamaster/stiResultStatus">시공실적관리</a>
				     	</li>
                    </menu>
                    <button class="clsBtn bgBlck"><!--배경닫기--></button>
               </aside>
          </div>
           <h1 class="insubPgTopBx ttl">시공팀 실적현황</h1>
           <article class="srchBox">
                <div class="dateBx">
                     시공예약일
                     <input type="text" name="" id="nmldate1" class="nmldatepicker inptBx hThin" value="" readonly/>
                     ~
                     <input type="text" name="" id="nmldate2" class="nmldatepicker inptBx hThin" value="" readonly/>
                </div>
                <button class="btn btnSzSmll btnBlck w60px mLft20px" onclick="stiResultStatus();">조회</button>
           </article>
           <div class="dfBx_x w50p _inSbPgBx _lftPd">
                <h2 class="popSmllTtl">[1] 시공팀별 실적 현황</h2>
                <div class="scrll _inTtl stRsltStts">
                     <ul class='ulLftlst _index'>
                          <li class='w150px'>시공팀명</li>
                          <li class='w120px'>시공금액</li>
                          <li class='w120px'>지급시공비</li>
                          <li class='w85px tAlgnCntr'>고객만족도</li>
                          <li class='w110px tAlgnCntr'>시공하자</li>
                          <li class='w110px tAlgnCntr'>내부부적합</li>
                          <li class='w95px tAlgnCntr'>서비스메뉴얼</li>
                          <li class='w90px tAlgnCntr'>고객클레임</li>
                     </ul>
                     <div class="dfBx scrll" id="stiResultStatus_1">

                     </div>
                     <article class="allNmberBox">
                          <ul class='ulLftlst'>
                               <li class='w150px'>권역총합</li>
                               <li class='w120px'>
                                    <span class='numTxt'><!--아래 인풋value값에 값넣으면 자동콤마 찍어서 표시됌 시공팀면--></span>
                                    <input type='hidden' name='' value='' class='innmbr nmCmma'>
                               </li>
                               <li class='w120px'>
                                    <span class='numTxt'><!--아래 인풋value값에 값넣으면 자동콤마 찍어서 표시됌 지급시공비--></span>
                                    <input type='hidden' name='' value='' class='innmbr nmCmma'>
                               </li>
                               <li class='w85px tAlgnCntr '><!--고객만족도--></li>
                               <li class='w110px'>
                                    <span><!--시공하자--></span>%(<span><!--시공하자--></span>건)
                               </li>
                               <li class='w110px tAlgnRght'>
                                    <span><!--내부부적합--></span>%(<span><!--내부부적합--></span>건)
                               </li>
                               <li class='w95px tAlgnCntr'><!--서비스메뉴얼--></li>
                               <li class='w90px tAlgnRght'><!-- 고객클레임--></li>
                          </ul>
                     </article>
                </div>
           </div>
           <div class="dfBx_x w50p _inSbPgBx _rghtPd">
                <h2 class="popSmllTtl">[2] 시공팀 납기현황</h2>
                <div class="scrll _inTtl stRsltStts">
                     <ul class='ulLftlst _index _inDCr'>
                          <li class='w150px'>지역명</li>
                          <li class='w80px tAlgnCntr'>CAPA(건)</li>
                          <li class='w120px'>CAPA(금액)</li>
                          <li class='w80px tAlgnCntr _inDCrBdr'>현재납기</li>
                          <li class='w110px'>누적금액</li>
                          <li class='w110px'>일평균금액</li>
                          <li class='w95px tAlgnCntr'>누적건수</li>
                          <li class='w85px tAlgnCntr'>일평균건수</li>
                          <li class='w85px tAlgnCntr'>최대납기</li>
                          <li class='w85px tAlgnCntr'>평균납기</li>
                     </ul>
                     <div class="dfBx scrll" id="stiResultStatus_2">

                     </div>
                     <article class="allNmberBox">
                          <ul class='ulLftlst'>
                               <li class='w150px _inDCr'>권역총합</li>
                               <li class='w80px tAlgnCntr _inDCr'>
                                    <span class='numTxt'><!--아래 인풋value값에 값넣으면 자동콤마 찍어서 표시됌 CAPA(건) --></span>
                                    <input type='hidden' name='' value='' class='innmbr nmCmma'>
                               </li>
                               <li class='w120px _inDCr'>
                                    <span class='numTxt'><!--아래 인풋value값에 값넣으면 자동콤마 찍어서 표시됌 CAPA(금액) --></span>
                                    <input type='hidden' name='' value='' class='innmbr nmCmma'>
                               </li>
                               <li class='w80px tAlgnCntr _inDCr'><!--15--></li>
                               <li class='w110px'>
                                    <span class='numTxt'><!--아래 인풋value값에 값넣으면 자동콤마 찍어서 표시됌 현재납기--></span>
                                    <input type='hidden' name='' value='' class='innmbr nmCmma'>
                               </li>
                               <li class='w110px'>
                                    <span class='numTxt'><!--아래 인풋value값에 값넣으면 자동콤마 찍어서 표시됌 누적금액 --></span>
                                    <input type='hidden' name='' value='' class='innmbr nmCmma'>
                               </li>
                               <li class='w95px tAlgnCntr'>
                                    <span class='numTxt'><!--아래 인풋value값에 값넣으면 자동콤마 찍어서 표시됌 일평균금액 --></span>
                                    <input type='hidden' name='' value='' class='innmbr nmCmma'>
                               </li>
                               <li class='w85px tAlgnCntr'>
                                    <span class='numTxt'><!--아래 인풋value값에 값넣으면 자동콤마 찍어서 표시됌   누적건수--></span>
                                    <input type='hidden' name='' value='' class='innmbr nmCmma'>
                               </li>
                               <li class='w85px tAlgnCntr'><!--최대납기--></li>
                               <li class='w85px tAlgnRght'><!--평균납기--></li>
                          </ul>
                     </article>
                </div>
           </div>
     </section>
     <div th:replace="fileList_popup :: fileList_popup">
          <!--시공건 팝업 :: html로 팝업 파일 나눠주셔서 타임리프로 넣어놓긴했는데 여기에 그냥 팝업이 있는게 편하시면 전달주세요~-->
     </div>
     <aside class="fssMblCmPop bgBlck alrtPop">
             <article class="popCntnts alrtBx loding" id="lodingPop">
		          <h2 class="ttl _f19px _24px _fwNml">
		               <strong>데이터</strong>를 불러오고 있습니다.
		          </h2>
		          <span class="ldingTxt">평균 1분이내로 소요됩니다.</span>
              </article>
              <article class="popCntnts alrtBx" id="defectInfo_popFail"><!-- 시공건팝업 -->
                   <h2 class="ttl _f19px _32px">
                        조회조건을 확인해주세요.
                   </h2>
                   <h4 class="ttlInf">
                        *검색가능일자는 최대 3달입니다.
                   </h4>
                   <div class="btnBx">
                        <button class="clsBtn btn btnSzHrf lft btnGry h54px">닫기</button>
                   </div>
              </article>
     </aside>
     <script type="text/javascript">
	 saveOpinion();
         ulLftlst();
     $( ".nmldatepicker" ).click(function() {
          $('.ui-datepicker').addClass('nml');
     });
       </script>
</body>
</html>
